.btn-log
    display: inline-block
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,241,243,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff1f3',GradientType=0 )
    height: 22px
    width: 75px
    text-align: center
    +font(1.2rem, 700, normal, $f1, $hs)
    box-shadow: 0 2px 0 #e1e6e9, 0 3px 0 #ebeef0
    border-radius: 4px
    padding-top: 5px
.btn-sidebar
    display: inline-block
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,241,243,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff1f3',GradientType=0 )
    height: 22px
    width: 50%
    text-align: center
    +font(1.2rem, 700, normal, $f1, $hs)
    box-shadow: 0 2px 0 #e1e6e9, 0 3px 0 #ebeef0
    border-radius: 4px
    padding-top: 5px
    border: 1px solid $border-load
    display: block
    margin: 20px auto
    +from-to($xlarge, 1300px)
        width: 60%
.btn-order
    height: 55px
    width: 220px
    text-align: center
    padding-top: 15px
    display: inline-block
    background: linear-gradient(to bottom, #dd5d52 0%,#dd5d52 15%,#a4400e 50%,#a4400e 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd5d52', endColorstr='#a4400e',GradientType=0 )
    +font(2rem, 700, normal, $f2, $white)
    text-transform: uppercase
    border-radius: 4px
    position: relative
    overflow: hidden
    outline: 2px solid rgba(255,255,255,.3)
    outline-offset: -4px
    &::after
        content: ''
        position: absolute
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1)
        width: 50%
        height: 30%
        top: -7px
        right: 1%
    &::before
        content: ''
        position: absolute
        background: radial-gradient(ellipse at center, rgba(255,217,9,1) 0%,rgba(255,217,9,0) 60%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd909', endColorstr='#00ffd909',GradientType=1 )
        width: 50%
        height: 30%
        bottom: -7px
        left: 1%
    &:hover
        color: $btn-order
.btn-send
    width: 165px
    height: 55px
    display: inline-block
    background: linear-gradient(to bottom, rgba(238,241,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 80%,rgba(238,241,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f5', endColorstr='#eef1f5',GradientType=0)
    text-align: center
    padding-top: 15px
    +font(2rem, 700, normal, $f3, $color-send)
    border: 1px solid $border-send
    border-radius: 5px
    outline: 1px solid $white
    outline-offset: -3px
    &:hover
        border: 1px solid $border-send-hover

.btn-load
    height: 40px
    display: block
    text-align: center
    border: 4px solid $border-load
    +font(1.4rem, 400, normal, $f2, $color-load)
    text-transform: uppercase
    padding-top: 7px
    &:hover
        background-color: $bgc-load-hover

.btn-order2
    position: relative
    height: 45px
    width: 160px
    display: inline-block
    text-align: center
    border: 6px double $border-load
    border-radius: 70px
    +font(1.4rem, 400, normal, $f3, $color-load)
    padding-top: 10px
    box-shadow: 0 4px 10px rgba(000,000,000,.2)
    background: linear-gradient(to bottom, rgba(238,242,245,1) 0%,rgba(255,255,255,1) 49%,rgba(238,242,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f5', endColorstr='#eef2f5',GradientType=0)
    &::before
        content: ''
        position: absolute
        width: 80%
        height: 5px
        border-radius: 30px 30px 0 0
        background-color: #04adee
        top: -11px
        right: 10%

.btn-load2
    position: relative
    height: 45px
    width: 160px
    display: inline-block
    text-align: center
    border: 6px double $border-load
    border-radius: 70px
    +font(1.4rem, 400, normal, $f3, $h1)
    padding-top: 10px
    box-shadow: 0 4px 10px rgba(000,000,000,.2)
    background: linear-gradient(to bottom, rgba(238,242,245,1) 0%,rgba(255,255,255,1) 49%,rgba(238,242,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f5', endColorstr='#eef2f5',GradientType=0)
    &::before
        content: ''
        position: absolute
        width: 80%
        height: 5px
        border-radius: 30px 30px 0 0
        background-color: $h1
        top: -11px
        right: 10%
.btn-chat
        height: 30px
        width: 100px
        text-align: center
        padding-top: 6px
        display: inline-block
        background: linear-gradient(to bottom, #dd5d52 0%,#dd5d52 15%,#a4400e 50%,#a4400e 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd5d52', endColorstr='#a4400e',GradientType=0 )
        +font(1.5rem, 700, normal, $f3, $white)
        text-transform: uppercase
        border-radius: 4px
        position: relative
        overflow: hidden
        outline: 2px solid rgba(255,255,255,.3)
        outline-offset: -4px
        &::after
            content: ''
            position: absolute
            background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 60%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1)
            width: 50%
            height: 30%
            top: -2px
            right: 24%
        &::before
            content: ''
            position: absolute
            background: radial-gradient(ellipse at center, rgba(255,217,9,1) 0%,rgba(255,217,9,0) 60%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd909', endColorstr='#00ffd909',GradientType=1 )
            width: 50%
            height: 30%
            bottom: -2px
            left: 24%
        &:hover
            color: $btn-order

.btn-read1
    display: inline-block
    border: 1px solid $border-input-focus
    border-radius: 15px
    width: 140px
    +font(1.6rem, 400, normal, $f1, $border-main-nav-hover)
    text-align: center
    text-transform: lowercase
    padding-top: 10px
    padding-bottom: 10px
.btn-p404
    width: 165px
    height: 45px
    display: inline-block
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 80%,rgba(238,241,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f5', endColorstr='#eef1f5',GradientType=0)
    text-align: center
    padding-top: 10px
    +font(1.8rem, 400, normal, $f1, $p404)
    border: 1px solid $border-send
    border-radius: 50px
    text-transform: uppercase
    box-shadow: 0 2px 3px rgba(000,000,000,.3)
    &:hover
        border: 1px solid $border-send-hover


.btn-complete
    display: inline-block
    background-color: $btn-complete
    border: 1px solid $border-complete
    width: 120px
    padding-top: 13px
    padding-bottom: 10px
    border-radius: 5px
    text-align: center
    +font(1.4rem, 400, normal, $f3, $white)

.btn-leave
    width: 145px
    height: 40px
    display: inline-block
    background: linear-gradient(to bottom, rgba(238,241,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 80%,rgba(238,241,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f5', endColorstr='#eef1f5',GradientType=0)
    text-align: center
    padding-top: 10px
    +font(1.6rem, 700, normal, $f3, $hs)
    border: 1px solid $border-send
    border-radius: 5px
    outline: 1px solid $white
    outline-offset: -3px
    i
        color: #b9c2cb
    &:hover
        border: 1px solid $border-send-hover
.btn-add
    height: 30px
    background: linear-gradient(to bottom, rgba(238,241,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 80%,rgba(238,241,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f5', endColorstr='#eef1f5',GradientType=0)
    +font(1.4rem, 700, normal, $f3, #000)
    border: 1px solid $border-send
    border-radius: 15px
    padding-left: 11px
    padding-right: 30px
    display: -webkit-inline-flex
    display: -ms-inline-flex
    display: inline-flex
    align-items: center
    &__plus
        margin-right: 20px
        font-size: 1.7rem
        color: #9fd226
    &:hover
        border: 1px solid $border-send-hover
.btn-apply
    height: 30px
    background: linear-gradient(to bottom, rgba(238,241,245,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 80%,rgba(238,241,245,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f5', endColorstr='#eef1f5',GradientType=0)
    +font(1.4rem, 400, normal, $f3, $btn-apply)
    border: 1px solid $border-send
    border-radius: 15px
    padding-left: 20px
    padding-right: 20px
    display: -webkit-inline-flex
    display: -ms-inline-flex
    display: inline-flex
    align-items: center
    &:hover
        border: 1px solid $border-send-hover
