.toll
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: flex-end
    &::before
        content: ''
        +sprite($s-phone)
    &__free
        +font(1.4rem, 700, normal, $f1, $hs)
        text-transform: uppercase
        margin-right: 10px
    &__phones
    &__tel
        display: block
        +font(1.8rem, 400, normal, $f1, $header-tel)
        &:hover
            text-decoration: underline

.chat
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    justify-content: center
    +to($xlarge)
        justify-content: flex-end
    &__border
        border-radius: 50%
        border: 1px solid $h1
        position: absolute
        top: 0
        left: 0
        animation-iteration-count: infinite
        animation-timing-function: linear
        &--one
            width: 50px
            height: 50px
            left: -23px
            top: -23px
            animation-name: border
            animation-duration: 2s
        &--two
            width: 30px
            height: 30px
            left: -13px
            top: -13px
            animation-name: border
            animation-duration: 2s
    &__info
        margin-right: 20px
    span
        display: block
        line-height: 1
    &__button
        position: relative
        &::before
            content: ''
            height: 10px
            width: 10px
            border-radius: 50%
            left: -3px
            top: -3px
            position: absolute
            background-image: linear-gradient(to bottom,#dd5d52 0,#dd5d52 15%,#a4400e 50%,#a4400e 100%)
    &__btn
        z-index: 1
    &__alltime
        +font(3rem, 700, normal, $f3, $header-alltime)
    &__here
        +font(1.2rem, 400, normal, $f3, $hs)


.socials
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: flex-end
    padding-top: 80px
    padding-bottom: 30px
    +to($large)
        display: none
    +from-to($xlarge, 1430px)
        justify-content: center
        flex-wrap: wrap
    &__item
        margin-left: 8px
        &:first-child
            margin-left: 0
    &__link
        display: block
        width: 35px
        height: 35px
        background-color: $bgc-socials
        border-radius: 50%
        font-size: 2rem
        text-align: center
        padding-top: 6px
        color: $white
        +to(1430px)
            flex-wrap: wrap
        &:hover
            background-color: $bgc-socials-hover



.bg-header
    width: 90%
    padding-right: 10px
    padding-top: 10px
    padding-bottom: 10px
    border: 3px double rgba(255,255,255,.4)
    border-bottom: none
    +font(2rem, 400, normal, $f2, $white)
    &--right1
        background: linear-gradient(45deg, rgba(250,94,0,1) 0%,rgba(251,99,0,1) 18%,rgba(253,131,0,1) 27%,rgba(250,94,0,1) 73%,rgba(250,94,0,1) 73%,rgba(251,120,0,1) 82%,rgba(252,132,0,1) 87%,rgba(253,137,0,1) 93%,rgba(253,137,0,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8900', endColorstr='#fa5e00',GradientType=1 )
        margin-left: auto
        padding-left: 40px
        border-radius: 45px 0 0 0
        @extend .bg-header
    &--right2
        background: linear-gradient(45deg, rgba(196,4,7,1) 0%,rgba(196,4,7,1) 28%,rgba(223,0,0,1) 37%,rgba(223,0,0,1) 73%,rgba(184,7,9,1) 82%,rgba(184,6,9,1) 87%,rgba(212,4,6,1) 93%,rgba(198,5,5,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60505', endColorstr='#c40407',GradientType=1 )
        margin-left: auto
        padding-left: 40px
        border-radius: 45px 0 0 0
        @extend .bg-header
    &--left1
        background: linear-gradient(135deg, rgba(253,137,0,1) 0%,rgba(253,137,0,1) 7%,rgba(252,132,0,1) 13%,rgba(251,120,0,1) 18%,rgba(250,94,0,1) 27%,rgba(250,94,0,1) 27%,rgba(253,131,0,1) 63%,rgba(251,99,0,1) 72%,rgba(250,94,0,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8900', endColorstr='#fa5e00',GradientType=1 )
        padding-left: 20px
        border-radius: 0 45px 0 0
        @extend .bg-header
    &--left2
        background: linear-gradient(135deg, rgba(198,5,5,1) 0%,rgba(212,4,6,1) 7%,rgba(184,6,9,1) 13%,rgba(184,7,9,1) 18%,rgba(223,0,0,1) 27%,rgba(223,0,0,1) 63%,rgba(196,4,7,1) 72%,rgba(196,4,7,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60505', endColorstr='#c40407',GradientType=1 )
        padding-left: 20px
        border-radius: 0 45px 0 0
        position: relative
        @extend .bg-header
        &::after
            content: ''
            +sprite($s-clip)
            position: absolute
            z-index: 2
            right: -20px
            top: -5px


.input-field
    position: relative
    margin-top: 20px
    width: 225px
    select
        width: 100%
        height: 35px
        padding-left: 10px
        +font(1.4rem, 400, normal, $f1, $header-slogan)
    label
        position: absolute
        top: -20px
        +font(1.4rem, 700, normal, $f1, $header-slogan)

.section-buttons
    text-align: center
    &--btn
        margin-right: 50px
        +to(405px)
            display: block
            margin: 0 auto
            &:first-child
                margin-bottom: 30px
            &:last-child
                margin-right: auto
        &:last-child
            margin-right: 0
.section-title
    height: 50px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    padding-left: 25px
    padding-right: 25px
    border-bottom: 1px solid $border-contact
    position: relative
    &::after
        content: ''
        position: absolute
        width: 30%
        top: -11px
        left: 1%
        height: 10px
        border-radius: 15px 15px 0 0
        background: linear-gradient(to bottom, #ffd000 2%,#ffd100 8%,#ffd200 14%,#ffd300 20%,#ffd300 26%,#ffd500 32%,#ffd500 38%,#ffd500 44%,#ffd800 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffd800',GradientType=0 )
        +to($large)
            width: 60%
    &--color
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        position: relative
        +font(2.2rem, 400, normal, $f2, $contact-title)
        &::before
            content: ''
            +sprite($s-tick)
            margin-right: 10px
.section-title2
    height: 50px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    padding-left: 25px
    padding-right: 25px
    border-bottom: 1px solid $border-contact
    position: relative
    &::after
        content: ''
        position: absolute
        width: 30%
        top: -11px
        left: 1%
        height: 10px
        border-radius: 15px 15px 0 0
        background: linear-gradient(to bottom, rgba(163,214,253,1) 0%,rgba(55,191,243,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d6fd', endColorstr='#37bff3',GradientType=0 )
        +to($large)
            width: 60%
    &--color
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        position: relative
        +font(2.2rem, 400, normal, $f2, $contact-title)
        &::before
            content: ''
            +sprite($s-tick2)
            margin-right: 10px


.table
    width: 100%
    margin-bottom: 40px
    border: 3px solid $border-load
    +font(1.4rem, 400, normal, $f1, $color-load)
    &__item
        padding: 3px
    tr
        &:nth-child(odd)
            background-color: $border-load
    td
        padding-top: 10px
        padding-bottom: 10px
        width: 50%
        &:first-child
            text-align: right
            padding-right: 10px
            padding-left: 5px
        &:last-child
            text-align: right
            padding-left: 10px
            padding-right: 5px
            text-align: left
    &__button
        margin: 0 auto
        display: block!important
.table2
    width: 100%
    margin-bottom: 40px
    border: 3px solid $border-load
    +font(1.4rem, 400, normal, $f1, $color-load)
    overflow: hidden
    .mark
        color: $pagination
    &__link
        +font(1.4rem, 400, normal, $f1, $pagination)
        &--subject
            &::before
                content: '\f0e0'
                font-family: $fontawesome
                margin-right: 5px
                color: $pagination
    &__file
        &::before
            content: ''
            +sprite($s-file-import)
            margin-right: 5px
    &__check
        &::before
            content: '\f002'
            font-family: $fontawesome
            margin-right: 5px
    &__item
        padding: 3px
        &--unread
            tr
                td:last-child a
                    font-weight: 700
                td:last-child
                    font-weight: 700
    &__date
        &::after
            content: "\f101"
            font-family: $fontawesome
            margin-left: 5px
    tr
        display: -webkit-flex
        display: -ms-flex
        display: flex
        &:nth-child(odd) td
            background-color: $border-load
    td
        // padding-top: 10px
        // padding-bottom: 10px
        height: 36px
        padding-top: 9px

        &:first-child
            text-align: right
            padding-right: 10px
            padding-left: 5px
            width: 280px
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(231,235,240,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7ebf0',GradientType=0 )
            border: 1px solid $border-contact
            +to($small)
                width: 120px
        &:last-child
            text-align: right
            padding-left: 10px
            padding-right: 5px
            text-align: left
            width: 100%
            margin-left: 20px
            border: 1px solid $border-load
            +to($small)
                margin-left: 0
    &__button
        margin: 0 auto
        display: block!important




.rating
    border: none
    padding: 0

.rating > input
    display: none
.rating > label:before
    margin-right: 10px
    font-size: 1.25em
    font-family: FontAwesome
    display: inline-block
    content: "\f005"
.rating > label:first-child:before
    margin-left: 0

.rating > .half:before
    content: "\f089"
    position: absolute


.rating > label
    color: #ddd
    float: right



.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
    color: #FFD700

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label
    color: #FFED85

.quotation
    background-color: $bgc-quotation
    padding: 25px
    &__text
        &::before
            content: '"'
            +font(3rem)
            font-style: italic
    &__name
        +font(1.4rem, 400, normal, $f1, #3377b3)

.price
    background-color: #e1eaef
    padding: 25px
    border-radius: 5px
    outline: 2px solid
    outline-offset: -4px
    outline-color: #e6e8ea
    border: 1px solid $border-input
    &-wrapper
        padding-bottom: 30px
    &--header
        margin-left: 5px
        width: 250px
    &__inputs
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        +from-to($large, 1090px)
            flex-direction: column
            align-items: center
        +from-to($xlarge, 1225px)
            flex-direction: column
            align-items: center
        +to(545px)
            align-items: center
            flex-direction: column
    &__total
        text-transform: uppercase
        +font(1.4rem, 700, normal, $f1, $header-slogan)
        +to(545px)
            padding-bottom: 20px
    &__cost
        color: $hs
    &__footer
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        +to(545px)
            flex-direction: column
    .input-field
        padding-bottom: 25px
        flex-basis: 230px
        +from-to($large, 1090px)
            flex-basis: auto
        +from-to($xlarge, 1225px)
            flex-basis: auto
        +to(545px)
            flex-basis: auto
.reason-title
    padding: 10px
    border: 3px double $border-load
    border-bottom: 1px solid $border-load
    border-radius: 5px 5px 0 0
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: space-between
    align-items: center
    +to($small)
        border: none
        justify-content: center
        text-align: center
    &__question
        border: 1px solid #d9e0e7
        padding: 3px
        border-radius: 50%
        +to($small)
            display: none
        i
            background-color: #d9e0e7
            width: 23px
            height: 23px
            border-radius: 50%
            text-align: center
            padding-top: 3px
            font-size: 1.8rem
            color: $white

.h-title
    position: relative
    padding-left: 30px
    padding: 10px 50px 10px 40px
    border: 1px solid $border-send
    border-radius: 30px
    display: inline-block
    &::before
        content: '\f00c'
        font-family: $fontawesome
        background: linear-gradient(to bottom,#22b4ee 0,#0088cb 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b4ee', endColorstr='#0088cb', GradientType=0 )
        width: 25px
        height: 25px
        border-radius: 50%
        border: 2px double rgba(255,255,255,.5)
        text-align: center
        padding-top: 0
        position: absolute
        left: 10px
        color: $white
        font-size: 1.5rem
        padding-top: 1px
