ul.arrow
    color: $arrow
    li
        display: flex
        align-items: center
        border-bottom: 1px solid $border-arrow
        padding-top: 5px
        padding-bottom: 8px
        margin-left: 20px
        &:last-child
            border-bottom: none
        &::before
            content: ''
            +sprite($s-arrow)
            margin-left: -20px
            margin-right: 10px

ul.check
    li
        display: flex
        align-items: center
        border-bottom: 1px solid $white
        border-image: linear-gradient(to right, rgba(255,255,255,0.95) 0%,rgba(251,252,252,1) 5%,rgba(214,226,229,0.98) 50%,rgba(255,255,255,0.95) 100%)
        border-image-slice: 1
        padding-top: 5px
        padding-bottom: 8px
        background: rgb(238,242,244)
        background: linear-gradient(to bottom, rgba(238,242,244,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef2f4', endColorstr='#ffffff',GradientType=0 )
        &::before
            content: ''
            +sprite($s-check)
            margin-right: 10px
        &:first-child
            background: none
        &:last-child
            border-bottom: none

.body-border
    position: relative
    background-color: $white
    border-radius: 0 10px 10px 0
    border: 4px double $border-sidebar
    border-left: 10px solid #b0c3cd
    &::after
        content: ''
        height: 100%
        width: 12px
        background-color: #eff3f5
        position: absolute
        left: 0
        top: 0
.body-border2
    border: 4px double #e2e2e2
    border-right: 12px solid #b0c3cd
    border-radius: 10px 0 0 10px
    position: relative
    &::after
        content: ''
        height: 100%
        width: 10px
        background-color: #eff3f5
        position: absolute
        right: 0
        top: 0
.sidebar-circle
    li
        padding-left: 25px
        background: linear-gradient(to bottom, rgba(237,242,244,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2f4', endColorstr='#ffffff',GradientType=0 )
        padding-top: 10px
        padding-bottom: 10px
        position: relative
        &:first-child
            background: transparent
            &::after
                display: none
        &:last-child
            border-radius: 0 0 10px 0
        &:before
            content: ''
            +sprite($s-circle-menu)
            margin-right: 10px
        &::after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 1px
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(204,219,223,0.9) 20%,rgba(204,219,223,1) 50%,rgba(204,219,223,0.9) 80%,rgba(229,229,229,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 )
    a
        +font(1.4rem, 400, normal, $f3, $toggle-menu)
        display: inline-block
        &:hover
            color: $border-main-nav-hover
.sidebar-arrow
    li
        padding-left: 45px
        padding-right: 25px
        background: linear-gradient(to bottom, rgba(237,242,244,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2f4', endColorstr='#ffffff',GradientType=0 )
        padding-top: 10px
        padding-bottom: 10px
        position: relative
        align-items: center
        &:first-child
            background: transparent
            &::after
                display: none
        &:before
            content: ''
            +sprite($s-check)
            margin-left: -22px
            margin-right: 10px
        &::after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 1px
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(204,219,223,0.9) 20%,rgba(204,219,223,1) 50%,rgba(204,219,223,0.9) 80%,rgba(229,229,229,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 )
        .mark
            color: $hs

.sidebar-triangle
    li
        padding-top: 10px
        padding-bottom: 10px
        position: relative
        align-items: center
        border-bottom: 1px dashed #000
        margin-left: 35px
        margin-right: 25px
        &:last-child
            border-bottom: none
        &:before
            content: ''
            position: absolute
            top: 35%
            left: -32px
            display: block
            width: 0
            height: 0
            margin-left: -2.5px
            border-style: solid
            border-width: 10px 10px
            border-color: transparent transparent transparent #f0f5f8
        a
            +font(1.4rem, 700, normal, $f3, $sidebar-faq)
            &:hover
                color: $border-main-nav-hover

.square
    &__number
        background: linear-gradient(to bottom, rgba(0,240,254,1) 0%,rgba(1,129,192,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0fe', endColorstr='#0181c0',GradientType=0 )
        width: 30px
        height: 30px
        border-radius: 5px
        // border: 1px double rgba(255,255,255,.2)
        display: inline-block
        +font(1.8rem, 400, normal, $f3, $white)
        display: -webkit-inline-flex
        display: -ms-inline-flex
        display: inline-flex
        align-items: center
        justify-content: center
        position: relative
        margin-right: 20px
        outline-color: rgba(255,255,255,.3)
        outline-width: 2px
        outline-offset: -3px
        outline-style: solid
        &::after
            content: ''
            border-style: solid
            border-width: 5px 5px
            border-color: transparent transparent transparent #00BAE0
            position: absolute
            right: -10px
            top: 35%
    li
        padding: 5px 10px
        border-bottom: 1px dashed $border-input
        background: linear-gradient(to bottom, rgba(252,252,250,1) 0%,rgba(255,255,255,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfa', endColorstr='#ffffff',GradientType=0 )
