.p404
    .bg-registration
        height: 40px
        &::after, &::before
            display: none
    &__image
        padding-bottom: 30px
        width: 100%
    &__content
        padding: 50px 0
    &__info
        display: block
        +font(2rem, 400, normal, $f1, $p404)
        text-align: center
        padding-bottom: 30px
    &__buttons
        text-align: center
    &__button
        margin-right: 20px
        +to(400px)
            display: block
            margin: 0 auto
            margin-bottom: 20px
        &:last-child
            margin-right: 0
            +to(400px)
                margin-right: auto
                margin-bottom: 0
