.beware
    &__title
        +font(2.2rem, 700, normal, $f1, $hs)
        padding-bottom: 25px
        display: inline-block
    &__info
        padding-bottom: 25px
    .services
        display: -webkit-flex
        display: -ms-flex
        display: flex
        width: 100%
        justify-content: space-between
        border: 1px solid $border-load
        margin-bottom: 25px
        +to($large)
            flex-direction: column
            border: none
        &__item
            width: 100%
            border-right: 1px solid $border-load
            +to($large)
                margin-bottom: 25px
                border: 1px solid $border-load
        &__list
            li
                height: 90px
                padding: 10px
                padding-left: 20px
                padding-right: 20px
                display: -webkit-flex
                display: -ms-flex
                display: flex
                align-items: center
                +font(1.4rem, 400,normal, $f1, $color-load)
                &:nth-child(odd)
                    background-color: #f6f7f8
                &::before
                    content: ''
                    padding-right: 25px
                +to(370px)
                    height: 110px
        &__check
            li
                &::before
                    +sprite($s-check)
        &__delete
            li
                &::before
                    +sprite($s-delete)
        &__title
            height: 65px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            padding-left: 20px
            padding-right: 15px
            background: linear-gradient(to bottom, rgba(250,116,19,1) 0%,rgba(231,74,6,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa7413', endColorstr='#e74a06',GradientType=0 )
            +font(1.5rem, 700, normal, $f1, $white)
            span
                display: -webkit-flex
                display: -ms-flex
                display: flex
                align-items: center
            &--left
                color: $services-title
                &::before
                    content: '\f00c'
                    font-family: $fontawesome
                    padding-right: 10px
                    color: $white
            &--right
                &::before
                    content: '\f00d'
                    font-family: $fontawesome
                    padding-right: 10px
                    color: $white
