.tags
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-flow: row wrap
    +to($small)
        justify-content: space-between
    &__item
        padding-right: 5px
        padding-bottom: 5px
    &__link
        display: block
        padding: 10px
        +font(1.2rem, 400, normal, $f3, $blog-panel)
        background-color: $border-load
        border-radius: 10px
        &:hover
            background-color: $blog-tag-hover
            color: $white

.blog
    position: relative
    .order1
        order: 1
    .order2
        order: 2
    .order3
        order: 3
    +to($xlarge)
        .socials
            padding-bottom: 10px
        .order3
            order: -1

    &__panel
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        padding-bottom: 40px
        +from-to($large, $xlarge)
            margin-top: -25px
    .kind-post
        display: -webkit-flex
        display: -ms-flex
        display: flex
        +to($medium)
            justify-content: center
            padding-bottom: 20px
        &__item
            padding-right: 20px
        &__link
            +font(1.6rem, 400, normal, $f3, $blog-panel)
            &:hover
                text-decoration: underline
                &.kind-post__link--active
                    text-decoration: none
                    cursor: default
            &--active
                color: $hs
    .category
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: flex-end
        flex-wrap: wrap
        +to($medium)
            justify-content: center
        &__item
            padding-right: 20px
            +to(369px)
                padding-bottom: 10px
                text-align: center
                flex-basis: 50%

        &__link
            +font(1.4rem, 400, normal, $f3, $blog-panel)
            &:hover
                text-decoration: underline
    .socials
        padding-top: 0
        padding-bottom: 0


    &__item
        border: 3px solid $border-load
        padding-bottom: 20px
        margin-bottom: 30px
    &__wrapper
        padding-bottom: 30px
    &__info
        padding-bottom: 10px
        +font(1.3rem)
        cursor: default
        &--category
            position: relative
            &::before
                content: '•'
                color: $text-color
                margin-right: 3px
                text-decoration: none
            &::after
                content: '•'
                color: $text-color
                margin-left: 3px
                text-decoration: none
        &--comments
            +to(400px)
                display: block
                margin-top: 3px
            a
                text-decoration: underline
                +font(1.3rem)
                cursor: pointer
    &__image
        width: 100%
        padding-bottom: 10px
    &__content
        padding-left: 10px
        padding-right: 10px
    &__title
        padding-bottom: 10px
        display: inline-block
    &__tags
        padding-bottom: 10px!important
        justify-content: flex-start!important
    &__btn
        +font(1.4rem, 400, italic, $f3)
        text-decoration: underline
    .tags
        padding-bottom: 65px
