.contact
    .mark
        color: $hs
        font-weight: 700
    &__info
        padding-bottom: 50px
    &-panel
        border: 3px solid $border-load
        margin-bottom: 25px
        +to($large)
            display: none
        &__list
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid $border-contact
            padding: 20px 0
        &__item
            padding-right: 15px
            padding-left: 15px
            +font(1.2rem, 400, normal, $f3)
            &:first-child
                padding-left: 0
            &:last-child
                padding-right: 0
            &--loc
                border-right: 1px solid $border-contact
                border-left: 1px solid $border-contact
        &__link
            +font(1.2rem, 400, normal, $f3)
            &--tel
                font-size: 1.4rem
            &--mail
                color: $contact-mail
    .form
        width: 100%
        margin-bottom: 40px
        border: 3px solid $border-load
        &__send
            display: block
            margin: 0 auto
            margin-bottom: 60px
        &__title
            justify-content: space-between
            +font(2.2rem, 400, normal, $f2, $contact-title)
            &--chat
                color: $hs
                display: -webkit-flex
                display: -ms-flex
                display: flex
                align-items: center
                &::after
                    content: '•'
                    font-size: 4rem
                    margin-left: 10px
                    color: linear-gradient(to bottom,#dd5d52 0,#dd5d52 15%,#a4400e 50%,#a4400e 100%)
        .fchat
            position: relative
            +to($large)
                display: none
            &::after
                content: ''
                position: absolute
                width: 100%
                top: -12px
                height: 10px
                border-radius: 15px 15px 0 0
                background: linear-gradient(135deg, rgba(196,4,7,1) 0%, rgba(223,0,0,1) 50%), linear-gradient(45deg, rgba(223,0,0,1) 50%, rgba(196,4,7,1) 100%)
            &::before
                content: ''
                position: absolute
                top: -2px
                left: 45%
                height: 10px
                border-style: solid
                border-width: 7px 8px 0 8px
                border-color: rgba(223,0,0,1) transparent transparent transparent
            &__border
                border-radius: 50%
                border: 1px solid $h1
                position: absolute
                top: 0
                right: 0
                animation-iteration-count: infinite
                animation-timing-function: linear
                &--one
                    width: 50px
                    height: 50px
                    right: -17px
                    top: 0
                    animation-name: border
                    animation-duration: 2s
                &--two
                    width: 30px
                    height: 30px
                    right: -7px
                    top: 10px
                    animation-name: border
                    animation-duration: 2s

        &__list
            padding-top: 20px
            padding-bottom: 50px
            +to($large)
                padding-right: 30px
                padding-left: 30px
        &__item
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 3px 0
            +to($large)
                flex-direction: column
            label
                width: 25%
                text-align: right
                padding-right: 25px
                +from-to($large, $xlarge)
                    width: 35%
                +to($large)
                    width: auto
                    padding-right: 0
                    align-self: flex-start
                    padding-bottom: 3px
            input, textarea
                width: 50%
                height: 30px
                padding-right: 10px
                padding-left: 10px
                +to($large)
                    width: 100%
            textarea
                height: 100px
            &:nth-child(odd)
                background-color: $border-load
                +to($large)
                    background-color: transparent
