.faq
    &__content
        margin-bottom: 50px
        +to($xlarge)
            margin-bottom: 30px
    &__title
        +to($xlarge)
            margin-bottom: 40px
    &__list
        padding: 25px
        +font(1.4rem, 400, normal, $f1, $sidebar-faq)
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-direction: column
    &__answer
        padding-bottom: 10px
        padding-top: 5px
        +font(1.4rem, 400, normal, $f1, $text-color)
        padding-left: 17px
        line-height: 1.4
    &__question
        margin-bottom: 5px
        cursor: pointer
        display: inline-block
        &:hover
            color: $border-main-nav-hover
    &__info
        padding-bottom: 40px
        h3
            padding-bottom: 10px
