.home
    position: relative
    &__content
        padding-bottom: 25px
    &__image
        img
            width: 100%
        +to($medium)
            padding-bottom: 30px
    .reason-title
        margin-bottom: 20px
    .reason
        padding-bottom: 30px
        &__title
            padding-bottom: 20px
        &__image
            width: 100%
            +to($large)
                padding-bottom: 20px
            &2
                margin: 0 auto
                display: block
                padding-bottom: 30px
        &__button
            +to($medium)
                margin: 0 auto
                display: block

    &__footer
        p
            margin: 0
            padding-bottom: 30px
    &__banner
        padding-bottom: 30px
        display: block
        text-align: center
