.l-header
    &-top
        padding-top: 15px
        padding-bottom: 15px
        align-items: center
    &__line
        height: 10px
        width: 100%
        background: linear-gradient(to bottom, #ffd000 2%,#ffd100 8%,#ffd200 14%,#ffd300 20%,#ffd300 26%,#ffd500 32%,#ffd500 38%,#ffd500 44%,#ffd800 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffd800',GradientType=0 )
    .nav
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: flex-end
        align-items: center
        &__item
        &__link
            padding: 10px
            +font(1.8rem, 400, normal, $f3, #636363)
            &:hover
                background-color: #e8e8e6
            &--order
                &::before
                    content: "\f07a"
                    font-family: $fontawesome
                    color: #ffd700
                    margin-right: 5px
                    font-size: 2rem
    &-mid
        background-image: url(../img/landing.jpg)
        background-size: cover
        background-repeat: no-repeat
        position: relative
        height: 615px
        &__info
            border-left: 5px solid #ffd700
            padding-left: 20px
            +font(6rem, 700, normal, $f3, $white)
            text-transform: uppercase
            margin-top: calc(100% - 80%)
        .calc
            color: $white
            background-color: rgba(000,000,000,.5)
            padding: 60px 45px 50px 45px
            position: absolute
            top: -10px
            width: 100%
            &__order
                text-align: center
            &__title, &__total
                +font(2.4rem, 700, normal, $f3, $white)
                padding-bottom: 40px
                text-transform: uppercase
            &__price
                color: #ffd700
                display: inline-block
            .input-field
                width: 100%
                padding-bottom: 20px
                label
                    +font(1.6rem, 400, normal, $f3, $white)
    &-bot
        background-color: #f8c90d
        padding: 35px 0
        &__title
            +font(3.6rem, 700, normal, $f3, $white)
            padding-bottom: 35px
        &__text
            +font(1.6rem, 400, normal, $f3, #111)
.landing
    text-align: center
    padding-top: 40px
    &__title
        +font(2.8rem, 400, normal, $f3, #252525)
        padding-bottom: 40px
    &__text
        +font(1.6rem, 400, normal, $f3, #252525)
        padding-bottom: 60px
    &__read
        padding-bottom: 60px
    &__order
        background-color: #3d3d3d
        padding-top: 25px
        padding-bottom: 25px
    .l-slider
        padding-bottom: 100px
        &__item
            margin-right: 25px
            margin-left: 25px
        &__content
            background-color: $border-load
            padding: 120px 65px 40px 65px
        &__title
            +font(3.6rem, 700, normal, $f3, #252525)
            text-transform: uppercase
            padding-bottom: 80px
        &__img
            position: relative
            display: inline-block!important
            top: 50px
            z-index: 2
        &__quotation
            +sprite($s-quotation)
            display: block
            margin: 0 auto
            margin-top: -30px
            margin-bottom: 20px
        &__text
            +font(1.6rem, 400, normal, $f3)
            padding-bottom: 50px
        &__address
            +font(1.6rem, 700, normal, $f3)
.slick-list
.slick-slide
    outline: none
.slick-center
    transform: scale(1.15)
    transition: all .3s
    & img
        transform: scale(1.2)
        transition: all .3s
.slick-arrow
    position: absolute
    top: 50%
    font-size: 10rem
    color: $text-color
    cursor: pointer
    line-height: 1
.slick-next
    right: -50px
.slick-prev
    left: -50px

.l-footer
    &__line
        height: 10px
        width: 100%
        background: linear-gradient(to bottom, #ffd000 2%,#ffd100 8%,#ffd200 14%,#ffd300 20%,#ffd300 26%,#ffd500 32%,#ffd500 38%,#ffd500 44%,#ffd800 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffd800',GradientType=0 )
    .socials
        padding: 0
    &__wrapper
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        padding-top: 25px
        padding-bottom: 25px
    &__logo
        display: inline-block
        margin-right: 10px
        +to($large)
            margin-bottom: 5px
            margin-right: 0
    &__image
        +sprite($s-logo)
    &__copyright
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        +font(1.2rem, 400, normal, $f3, $footer-bot)
        +to($large)
            justify-content: center
            flex-direction: column
            text-align: center

    &__info
        display: inline-block
        span
            display: block
            a
                +font(1.2rem, 400, normal, $f3, $footer-bot)
                &:hover
                    text-decoration: underline
        &--res
            margin-bottom: 3px
        &--cus
            color: #9a9b9b
.btn-l-order
    display: inline-block
    background: linear-gradient(to bottom, rgba(255,215,0,1) 0%,rgba(255,215,2,1) 40%,rgba(248,199,2,1) 60%,rgba(241,186,18,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#f1ba12',GradientType=0 )
    border: 1px solid $white
    +font(2.4rem, 700, normal, $f3, $white)
    text-transform: uppercase
    text-align: center
    padding: 10px 30px
    border-radius: 25px
    text-shadow: 0 0 10px rgba(000,000,000,.5)
.btn-l-read
    display: inline-block
    background-color: #000
    border: 1px solid $white
    +font(2rem, 400, normal, $f3, $white)
    text-transform: uppercase
    text-align: center
    padding: 10px 30px
    border-radius: 25px
    text-shadow: 0 0 10px rgba(000,000,000,.5)
