.maintenance
    color: $maintenance
    text-align: center
    &--bg
        background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%,rgba(214,213,213,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d6d5d5',GradientType=1 )
    &__content
        height: 100%
        display: -webkit-flex
        display: -ms-flex
        display: flex
        flex-direction: column
        justify-content: center
        padding-top: calc(100% - 90%)
        padding-bottom: calc(100% - 90%)
        +to($small)
            padding-top: calc(100% - 92%)
    &__title
        +font(6rem, 700, normal, $f1, $maintenance)
        text-transform: uppercase
        padding-bottom: 50px
        +to($small)
            font-size: 2.8rem
            padding-bottom: 25px
    &__subscribe
        +font(2rem, 400, normal, $f1, $maintenance)
        padding-bottom: 50px
        +to($small)
            font-size: 1.8rem
            padding-bottom: 25px
    .time
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        justify-content: center
        padding-bottom: 50px
        +to($small)
            padding-bottom: 25px
        span
            display: block
        &__number
            +font(6rem, 700, normal, $f1, $maintenance)
            +to($small)
                font-size: 2.8rem
        &__break
            +font(6rem, 700, normal, $f1, $maintenance)
            padding: 0 20px
            +to($small)
                display: none!important
        &__much
            +font(2.4rem, 400, normal, $f1, $maintenance)
            text-transform: uppercase
            +to($small)
                font-size: 1.4rem
        &__hours
            margin-right: 10px
            margin-left: 10px
        &__border
            width: 150px
            height: 150px
            border: 1px solid $white
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            justify-content: center
            border-radius: 20px
            +to($small)
                width: 100px
                height: 100px
                // border: none
    &__img
        background-image: url(../img/maintenance.svg)
        width: 250px
        height: 250px
        background-repeat: no-repeat
        background-position: center
        align-self: center
        margin-bottom: 70px
        +to($small)
            margin-bottom: 35px
            width: 100px
            height: 100px
    .m-socials
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: center
        &__item
            margin-left: 8px
            &:first-child
                margin-left: 0
        &__link
            display: block
            width: 35px
            height: 35px
            background-color: $bgc-socials
            border-radius: 50%
            font-size: 2rem
            text-align: center
            padding-top: 6px
            color: $white
            +to(1430px)
                flex-wrap: wrap
            &:hover
                background-color: $bgc-socials-hover
