.paper-title
    &::before
        content: ''
        +sprite($s-paper-pen)
        position: absolute
        right: 10px
        top: 0
.paper-title2
    &::before
        content: ''
        +sprite($s-paper)
        position: absolute
        right: 10px
        top: 0
.m-orders
    .paper-title
        &::before
            top: -17px
    &__tables
        padding-bottom: 60px
    &__content
        padding-top: 60px
    .messages
        margin-bottom: 25px
        position: relative
        &__title
            &::before
                content: ''
                +sprite($s-orders-messages)
                position: absolute
                right: 10px
                top: -10px

        &__table
            width: 100%
            margin: 0
            padding: 0
            padding-left: 1px
            padding-bottom: 1px
            +to($medium)
                display: -webkit-flex
                display: -ms-flex
                display: flex
                justify-content: space-between
                height: 110px
            tr
                +to($medium)
                    display: -webkit-flex
                    display: -ms-flex
                    display: flex
                    flex-direction: column
                    width: 140px
                    height: 100%
                +to($small)
                    width: 100px
            th
                +from($medium)
                    flex: 1
            td
                flex: 1
                text-align: center
            tbody
                +to($medium)
                    width: 100%
                tr
                    height: 35px
                    display: -webkit-flex
                    display: -ms-flex
                    display: flex
                    align-items: center
                    padding-left: 10px
                    +font(1.4rem)
                    &:nth-child(odd)
                        background-color: $border-load
                        +to($medium)
                            background-color: transparent
                    +to($medium)
                        width: 100%
                        align-items: flex-start
                        justify-content: center
                        flex-direction: column
                        height: 100%
                        padding-left: 0
                        td
                            height: 100%
                            width: 100%
                            display: -webkit-flex
                            display: -ms-flex
                            display: flex
                            align-items: center
                            padding-left: 10px
                            &:nth-child(odd)
                                background-color: $border-load
        &__section
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-around
            align-items: center
            background: linear-gradient(to bottom, rgba(0,139,231,1) 0%,rgba(25,168,253,1) 50%,rgba(0,139,231,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008be7', endColorstr='#008be7',GradientType=0 )
            height: 35px
            +font(1.3rem, 400, normal, $f3, $white)
            +to($medium)
                display: -webkit-flex
                display: -ms-flex
                display: flex
                flex-direction: column

    .process
        margin-bottom: 25px
        &__table
            padding-top: 5px
            padding-bottom: 5px
            padding-left: 1px
    .complete
        margin-bottom: 25px
        &__dnone
            width: 140px
            +to($large)
                display: none!important
        &__buttons
            padding-top: 10px
            // padding-bottom: 10px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-wrap: wrap
            align-items: center
            width: 100%!important
            +to(562px)
                justify-content: space-around
            a
                margin-right: 10px
                margin-bottom: 10px
                +to(562px)
                    flex-basis: 48%
                    margin-right: 0
        &__vip
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            +font(2.4rem, 400, normal, $f2)
            &::before
                content: ''
                +sprite($s-vip)
        &__table
            padding-left: 1px
            border-bottom: 1px solid #e1e1e1
            box-shadow: 0 1px 5px rgba(255,255,255,.5)
            tr
                height: 35px
                &:nth-child(1)
                    background-color: $border-load
                &:nth-child(2n)
                    background-color: $border-load
                td
                    &:first-child
                        +font(1.4rem, 700)
                        width: 140px
                        text-align: right
                        +to($small)
                            width: 100px!important
                    &:last-child
                        +font(1.4rem, 400)
                        text-align: left
                        padding-left: 20px
    .notice
        &__info
            padding: 30px
