.order
    .place
        padding: 20px
        border: 1px solid $border-arrow
        border-top: 3px double $border-arrow
        margin-bottom: 10px
        +to($medium)
            margin-bottom: 35px
        &__p1
            margin: 0
            +font(1.8rem, 700, normal, $f1, $order-p1)
        &__p2
            margin: 0
            +font(1.5rem, 700, normal, $f1, $order-p2)

    .breadcrumbs
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 50%,rgba(237,237,237,1) 50%,rgba(228,228,228,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 )
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        justify-content: space-between
        position: relative
        height: 50px
        border-radius: 10px
        margin-bottom: 10px
        padding-left: 20px
        padding-right: 20px
        +to($medium)
            display: none
        &__arrows
            margin-right: 30px
        &__arrow
            width: 28px
            height: 1px
            background-color: $breadcrumbs-arrow
            display: block
            position: absolute
            &--top
                transform: rotate(65deg)
                top: 12px
            &--bot
                transform: rotate(-65deg)
                bottom: 12px
        &__item
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            position: relative
            height: 100%
            +font(1.4rem, 400, normal, $f3, $breadcrumbs-color)
        &__info
            &--start
                font-weight: 700
                color: $breadcrumbs-start
                text-transform: uppercase
        &__number
            width: 30px
            height: 30px
            border: 1px solid $breadcrumbs-arrow
            padding: 2px
            border-radius: 7px
            margin-right: 10px
            &--bg
                background: linear-gradient(to bottom, rgba(42,182,246,1) 0%,rgba(42,182,246,1) 50%,rgba(9,147,245,1) 50%,rgba(9,147,245,1) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab6f6', endColorstr='#0993f5',GradientType=0 )
                width: 100%
                height: 100%
                display: block
                border-radius: 7px
                border: 1px solid #277cc0
                text-align: center
                padding-top: 3px
                +font(1.4rem, 400, normal, $f3, $white)
    .comment
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 50%,rgba(237,237,237,1) 50%,rgba(228,228,228,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 )
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        padding: 20px 15px
        border-radius: 10px
        margin-bottom: 20px
        +to($medium)
            display: none
        &__info
            display: flex
            align-items: center
            &::before
                content: ''
                +sprite($s-order-com)
                width: 100px
                padding-right: 60px
            &--mark
                +font(1.8rem, 700, normal, $f3, $hs)
            &--p
                line-height: 1.2
                margin: 0
    .paper-title::before
        +to($small)
            display: none
    .paper-title2::before
        +to($small)
            display: none
    .total
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(244,244,244,1) 50%,rgba(237,237,237,1) 50%,rgba(228,228,228,1) 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 )
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        height: 70px
        padding-left: 15px
        padding-right: 15px
        border-radius: 10px
        margin-bottom: 20px
        justify-content: space-between
        margin-bottom: 35px
        &__text
            +font(1.8rem, 400, normal, $f3, $total)
        &__price
            +font(1.8rem, 700, normal, $f3, $hs)
    &-preview
        text-align: center

    .t-order
        &__guarantee
            text-align: center
            padding-bottom: 15px
            +to($medium)
                display: none
        &--personal
            margin-bottom: 45px
        &--paper
            margin-bottom: 10px
        &__cost
            font-weight: 700
            color: $hs
            +to($small)
                display: inline-block!important
                width: 50%!important
                text-align: right!important
                padding-top: 10px!important
        &__hint
            text-align: center
            display: inline-block
            &-content
                display: block
        &__icon
            width: 25px
            height: 25px
            background: linear-gradient(to bottom, rgba(34,180,238,1) 0%,rgba(0,136,203,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b4ee', endColorstr='#0088cb',GradientType=0 )
            border-radius: 50%
            text-align: center
            font-size: 1.6rem
            padding-top: 2px
            color: $white
            border: 2px double rgba(255,255,255,.5)
        &__format
            text-align: center!important
            +font(1.2rem)
            width: 100%
            height: 35px
        &__us
            display: inline-block
            margin-right: 10px
        &__uk
            display: inline-block
        &__inst
            td
                &:first-child, &:nth-child(2)
                    padding-bottom: 50px
        &__delete
            width: 25px
            height: 25px
            border-radius: 50%
            background-color: $hs
            color: $white
            text-align: center
            display: inline-block
            padding-top: 2px
            font-size: 1.7rem
        &__writerID
            padding-bottom: 10px
        &__links
            +to($medium)
                text-align: center!important
            a
                +font(1.4rem, 400, normal, $f3, $order-link)
        .btn-apply
            +to($medium)
                margin-top: 5px
        &__table
            padding: 3px
            width: 100%
            +font()
            tr
                height: 40px
                &:nth-child(odd)
                    background-color: $border-load
                td
                    +to($medium)
                        padding: 10px 5px
                    +to($small)
                        display: block
                        text-align: left
                        width: 100%
                    &:first-child
                        text-align: right
                        width: 30%
                        +to($small)
                            width: 100%
                            padding-bottom: 0
                            text-align: left
                    &:nth-child(2)
                        width: 8%
                        text-align: center
                        +to($small)
                            display: none
                    &:last-child
                        text-align: left
                    &.align-right
                        +to($small)
                            text-align: right
                    &.dib
                        +to($small)
                            display: inline-block
                            width: 50%
                    &.pb10
                        +to($medium)
                            padding-bottom: 10px!important
                    &.align-center
                        text-align: center
                    &.i-accept
                        +to($medium)
                            padding-top: 0
                            text-align: center
                    & .w85
                        +to($small)
                            width: 85%!important
                    &.p20
                        padding: 20px!important
                        p
                            margin: 0
                    input[type="text"], input[type="email"], input[type="tel"], select
                        width: 50%
                        height: 30px
                        padding-left: 10px
                        padding-right: 10px
                        +to($medium)
                            width: 80%
                        +to($small)
                            width: 100%
                    textarea
                        width: 50%
                        height: 100px
                        padding-left: 10px
                        padding-right: 10px
                        margin-bottom: 10px
                        +to($medium)
                            width: 80%
                        +to($small)
                            width: 100%
