.prices
    .section-title2--color
        +to($small)
            align-self: flex-start
            padding-bottom: 20px
    &__title
        justify-content: space-between
        +to($small)
            flex-direction: column
            padding-top: 10px
            padding-bottom: 30px
            height: auto
    &__info
        padding-bottom: 30px
    &-wrapper
        margin-bottom: 30px
        &__panel
            +font()
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            padding: 10px
            background-color: $border-load
            margin-top: 10px
            +to($medium)
                flex-direction: column
            &--span
                padding-right: 10px
                display: inline-block
                +to($medium)
                    width: 200px
        &__type
            width: 60%
            +to($medium)
                width: 100%
                padding-bottom: 10px
            &--input
                width: 50%
                +to($medium)
                    width: 100%
        &__number
            width: 40%
            justify-content: flex-end
            +to($medium)
                width: 100%
                justify-content: flex-start
            &--input
                width: 100px
        &__type, &__number
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
        .input-field
            margin-top: 0
            +to($medium)
                width: 100%
    .currency
        display: -webkit-flex
        display: -ms-flex
        display: flex
        &__item
            border-right: 1px solid #e1e1e1
            padding: 3px 5px
            &:last-child
                padding-right: 0
                border-right: none
            &:first-child
                padding-left: 0
        &__link
            +font(1.4rem, 700, normal, $f1, $color-load)
            &:hover, &--active
                color: $border-main-nav-hover
    &-table
        display: -webkit-flex
        display: -ms-flex
        display: flex
        text-align: center
        width: 100%
        +font(1.4rem, 400, normal, $f1, $color-load)
        &__slide
            width: 100%
        &__title
            padding: 0 5px
            height: 50px
            font-weight: 700
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            justify-content: center
            +to($medium)
                height: 70px
                padding-top: 10px
            &--head
                font-weight: 400
                color: $border-main-nav-hover
        &__value
            padding-top: 10px
            padding-bottom: 10px
            &--head
                font-weight: 700
        &__head
            width: 60%
            +to($medium)
                width: 50%
        &__body
            width: 100%
            position: relative
            +to($medium)
                width: 50%
        .slider
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            width: 100%
        &__value
            &:nth-child(even)
                background-color: $border-load
    .next, .prev
        position: absolute
        z-index: 2
        font-size: 2rem
        font-weight: 700
        top: 5px
        +from($medium)
            display: none
    .next
        right: 10%
    .prev
        left: 10%
    .prices-list
        &__title
            background: linear-gradient(to bottom, rgba(0,147,209,1) 0%,rgba(0,97,153,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0093d1', endColorstr='#006199',GradientType=0 )
            padding: 15px
            border-radius: 15px 15px 0 0
            border: 2px double rgba(255,255,255,.5)
            +font(2rem, 400, normal, $f2, $white)
        .arrow
            padding: 10px 10px 10px 15px
            font-weight: 700
            border: 2px solid $white
            border-image: linear-gradient(to bottom, rgba(239,244,244,1) 0%,rgba(255,255,255,1) 100%) 2
    &__lists
        padding-bottom: 30px
        +to($xlarge)
            justify-content: center
