.post
    &-title
        padding-top: 35px
        +to($xlarge)
            padding-top: 10px
    &__content
        padding-bottom: 60px
    &__header
        padding-bottom: 40px
        +to($xlarge)
            padding-bottom: 20px
    &__info
        padding-bottom: 10px
        +font(1.3rem)
        cursor: default
        padding-bottom: 40px
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-around
        &--category
            position: relative
        &--comments
            a
                text-decoration: underline
                +font(1.3rem)
                cursor: pointer
    &__desc
        +font(1.6rem, 400, italic, $f3)
        line-height: 1.5
        +to($xlarge)
            padding-bottom: 20px
    &__link
        padding-bottom: 45px
        padding-top: 25px
        +to($xlarge)
            padding-bottom: 25px
        a
            text-align: right
            display: block
            +font(1.8rem)
            text-transform: uppercase
            &::before
                content: '\f104'
                font-family: $fontawesome
                margin-right: 10px
    &__image
        width: 100%
    &__text
        padding-bottom: 50px
        +to($xlarge)
            padding-bottom: 30px
    .tags
        padding-bottom: 70px
        +to($xlarge)
            padding-bottom: 40px
    .socials
        padding: 0
        padding-top: 17px
        +to($xlarge)
            display: none
    .pages
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        +font(1.4rem, 400, italic, $f3)
        &__item
            &--right
                +to($medium)
                    text-align: right
        &__larrow
            &::before
                content: '\f060'
                font-family: $fontawesome
                margin-right: 10px
                font-style: normal
        &__rarrow
            &::after
                content: '\f061'
                font-family: $fontawesome
                margin-left: 10px
                font-style: normal

        &__disable
            cursor: default
        a
            text-decoration: underline
            +font(1.4rem, 400, italic, $f3)
    .comments
        padding-bottom: 60px
        +to($xlarge)
            padding-bottom: 30px
        &__item
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            padding: 30px
            border-top: 1px solid $gray
            +to($small)
                padding-left: 0
                padding-right: 0
        &__sub
            margin-left: 120px
            +to($small)
                margin-left: 50px
        &__img
            align-self: flex-start
            +to($small)
                width: 50px
                // height: 50px
        &__user
            +to($small)
                padding-bottom: 10px
        &__content
            padding-left: 30px
            +to($small)
                padding-left: 10px
        &__text
            display: block
        &__info
            width: 100%
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            align-items: center
            padding-bottom: 15px
            +to($small)
                display: block
            &--name
                +font(1.6rem, 700)
            &--date
                +font(1.4rem, 400)
        &__reply
            text-align: right
            +font(1.6rem, 700)
            text-transform: uppercase
            text-decoration: underline
            +to($small)
                text-align: right
                display: block
    .add-comment
        +font(1.6rem, 700)
        label
            display: block
            padding-bottom: 5px
        input, textarea
            width: 100%
        textarea
            height: 120px
            margin-bottom: 10px
        input
            height: 40px
            padding: 0 10px
            margin-bottom: 10px
