.testimonials

    &__leave
        text-align: right
        +to($small)
            text-align: left
    &__panel
        padding-bottom: 50px
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        padding-top: 10px
    &__wrapper
        padding-left: 30px
        padding-bottom: 50px
    &__item
        position: relative
        padding-bottom: 15px
        padding-top: 15px
        border-bottom: 1px dashed #000
    &__name
        padding-bottom: 20px
        display: inline-block
        text-align: center
        +font(1.4rem, 700, normal, $f3, $sidebar-faq)
        &::after
            content: ''
            +sprite($s-comment)
            margin-left: 5px
    &__text
        margin: 0
        position: relative
        &:before
            content: ''
            position: absolute
            top: 0
            left: -29px
            display: block
            width: 0
            height: 0
            margin-left: -2.5px
            border-style: solid
            border-width: 10px 10px
            border-color: transparent transparent transparent #f0f5f8
    .pagination
        display: -webkit-flex
        display: -ms-flex
        display: flex
        &--bot
            padding-bottom: 50px
        +to($small)
            justify-content: flex-start
            padding-bottom: 20px
        &__item
            padding-right: 5px
        &__link
            padding-top: 5px
            text-align: center
            height: 28px
            width: 28px
            display: block
            +font(1.4rem, 400, normal, $f1, $pagination)
            border: 1px solid $border-pagination
            border-radius: 5px
            &:hover
                color: $border-main-nav-hover
            &--active
                border-top: 5px solid $border-pagination
                padding-top: 1px
                color: $color-load
    .form
        width: 100%
        margin-bottom: 40px
        border: 3px solid $border-load
        &__send
            display: block
            margin: 0 auto
            padding-top: px
            font-size: 1.4rem
        &__title
            justify-content: space-between
            +font(2.2rem, 400, normal, $f2, $contact-title)
            &--chat
                color: $hs
                display: -webkit-flex
                display: -ms-flex
                display: flex
                align-items: center
                &::after
                    content: '•'
                    font-size: 4rem
                    margin-left: 10px
                    color: linear-gradient(to bottom,#dd5d52 0,#dd5d52 15%,#a4400e 50%,#a4400e 100%)
        &__list
            padding-top: 20px
            padding-bottom: 50px
            +to($large)
                padding-right: 30px
                padding-left: 30px
            +to($small)
                padding-left: 15px
                padding-right: 15px
        &__label
            width: 30%
            text-align: right
            padding-right: 25px
            +to($large)
                width: auto
                padding-right: 0
                align-self: flex-start
                padding-bottom: 3px
        &__item
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 3px 0
            &--rate
                margin-bottom: 30px
                +to($large)
                    flex-direction: row!important
                    justify-content: space-between
                    align-items: center!important

            +to($large)
                flex-direction: column
            input, textarea
                width: 60%
                height: 30px
                padding-right: 10px
                padding-left: 10px
                +to($large)
                    width: 100%
                +from-to($large, $xlarge)
                    width: 50%
            textarea
                height: 100px
            &:nth-child(odd)
                background-color: $border-load
                +to($large)
                    background-color: transparent
    .comments
        &__title
            +font(2rem, 400, normal, $f1, $comments-title)
    .rating > label:before
        +to($small)
            font-size: 1.8rem
