.text
    .reason-title
        h2
            position: relative
            display: block
            &::after
                content: ''
                +sprite($s-reason)
                position: absolute
                top: -20px
                right: -30px
    .square
        padding-bottom: 30px
    &__banner
        text-align: center
        display: block
