<main class="p404">
    <div class="container-fluid bg-registration"></div>
    <div class="p404__content">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-12">
                    <img src="img/404.png" alt="404" class="p404__image">
                </div>
                <div class="col-12">
                    <span class="p404__info">Looks like the page you’re trying to visit doesn’t exist.</span>
                    <div class="p404__buttons">
                        <a href="#" class="btn-p404 p404__button">Home</a>
                        <a href="#" class="btn-p404 p404__button">Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
