<main class="beware">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="beware__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="main-title">[h1] Beware</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="beware__title">Beware of fraudulent academic papers!</span>
                            <div class="beware__info">
                                <p>The Internet is awash with websites offering essay writing services to students. Each one promises top quality, professional assistance with academic writing, but not many of them offer any tangible proof to back their claims. Therefore, students should be wary when choosing online help with academic writing to ensure they select a provider whose rhetoric matches its claims. If you have the misfortune to choose a substandard writing service, you risk being awarded a poor grade or, worse, of being charged with plagiarism. Students have come to trust GreatDissertation.com for its proven record in providing custom coursework that, rather than being idle rhetoric, really is originally and creatively written. This table compares the differences between the high quality services offered by GreatDissertation.com and those from other companies.</p>
                                <p>The Internet is awash with websites offering essay writing services to students. Each one promises top quality, professional assistance with academic writing, but not many of them offer any tangible proof to back their claims. Therefore, students should be wary when choosing online help with academic writing to ensure they select a provider whose rhetoric matches its claims. If you have the misfortune to choose a substandard writing service, you risk being awarded a poor grade or, worse, of being charged with plagiarism. Students have come to trust GreatDissertation.com for its proven record in providing custom coursework that, rather than being idle rhetoric, really is originally and creatively written. This table compares the differences between the high quality services offered by GreatDissertation.com and those from other companies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-sm-10 offset-sm-1">
                            <div class="services">
                                <div class="services__item">
                                    <div class="services__title">
                                        <span class="services__title--left">The services of YourCompanyName.com</span>
                                    </div>
                                    <ul class="services__list services__check">
                                        <li><span>Our written work is <strong>100% originally created</strong> and entirely plagiarism-free, so you won’t be charged with academic fraudulence by your college.</span></li>
                                        <li><span>We create custom work that is 100% <strong>freshly written according to your exact instructions.</strong></span></li>
                                        <li><span>Our <strong>price structure is transparent.</strong> At the outset you get the exact price with no hidden extra costs.</span></li>
                                        <li><span>Our team of <strong>MA and PhD experts are English native-speakers</strong> who know how to create the very best academic work.</span></li>
                                        <li><span>Our <strong>friendly and helpful support team</strong> are at your service 24x7. We will always promptly address your queries whether you contact us by live chat, email, toll-free phone or fax.</span></li>
                                        <li><span>With us, you can <strong>communicate directly with your writer</strong>, so you are sure of an instant response.</span></li>
                                        <li><span>Our custom assignments are always dispatched on time in line with the deadlines you give us.</span></li>
                                    </ul>
                                </div>
                                <div class="services__item">
                                    <div class="services__title">
                                        <span class="services__title--right">The services of YourCompanyName.com</span>
                                    </div>
                                    <ul class="services__list services__delete">
                                        <li><span>Can often risk you being expelled from college or being awarded low grades by delivering <strong>plagiarized essay papers.</strong></span></li>
                                        <li><span><strong>Frequently recycle papers that have already been sold</strong> to other students, meaning they are usually laden with plagiarism.</span></li>
                                        <li><span>Instead of charging cheap prices for the poor quality of their papers, many apply <strong>an irrationally high price for their services.</strong></span></li>
                                        <li><span>Many employ <strong>poorly educated and unqualified writers</strong> who are not native English speakers, so you risk academic failure or expulsion from your institution.</span></li>
                                        <li><span><strong>Inferior support services</strong> to keep customers up-to-date because it is difficult for them to communicate with anyone by email, telephone or live chat.</span></li>
                                        <li><span><strong>Lack of communication with your writer.</strong> You may only be able to send them a message via an unreliable customer support, so your writer may not actually receive it.</span></li>
                                        <li><span>Without punctuality guarantees, you risk being late or missing the deadlines your tutor set.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="beware__info">
                                <p>We don’t wrongly advertise our prices as the cheapest you are likely to find. We appreciate that top quality writing does not come cheap. Do you believe that you can buy the services of well-educated and highly-experienced writers for nothing or next to nothing? Our written work is supreme quality and custom written for each individual customer. Hence, it is hard to place a true value on the level of quality that brings you academic success. The writers employed by GreatDissertation.com are of the highest calibre and they take great care to produce work that both they and you can be proud of. We strive to blend top quality with cost-effectiveness so that our customers can always look forward to excellent results whenever they choose our services!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
