<main class="blog section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                        <h1 class="main-title">[h1] Blog</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-10 col-12">
                <div class="row blog__panel">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12 order1">
                        <ul class="kind-post">
                            <li class="kind-post__item"><a href="#" class="kind-post__link kind-post__link--active">Popular posts</a></li>
                            <li class="kind-post__item"><a href="#" class="kind-post__link">Recent posts</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-12 order2">
                        <ul class="category">
                            <li class="category__item"><a href="#" class="category__link">Category1</a></li>
                            <li class="category__item"><a href="#" class="category__link">Category2</a></li>
                            <li class="category__item"><a href="#" class="category__link">Category3</a></li>
                            <li class="category__item"><a href="#" class="category__link">Category4</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-12 order3">
                        //= sections/socials.html
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-12">
                <ul class="tags">
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                    <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                </ul>
            </div>
        </div>
        <div class="row blog__wrapper">
            <div class="col-xl-4 col-lg-4">
                <div class="blog__item">
                    <a href="#"><img src="img/blog/1.jpg" alt="1" class="blog__image"></a>
                    <div class="blog__content">
                        <a href="#"><h2 class="blog__title">[h2] Lorem ipsum dolor sit amet.</h2></a>
                        <div class="blog__info">
                            <span class="blog__info--month">February</span> <span class="blog__info--day">28</span>, <span class="blog__info--year">2014</span> <span class="blog__info--category">Category</span> <span class="blog__info--comments"><a href="#">2 Comments</a></span>
                        </div>
                        <p class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolore pariatur impedit odio provident voluptas harum, repellat, id repudiandae, hic similique! Neque dolor, fugit tempore praesentium incidunt quod eligendi nobis,
                            harum autem corporis cum nihil quos, laboriosam minus officiis veritatis quidem aspernatur a sunt alias porro quia. Unde, enim...</p>
                        <ul class="tags blog__tags">
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                        </ul>
                        <a href="#" class="blog__btn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="blog__item">
                    <a href="#"><img src="img/blog/1.jpg" alt="1" class="blog__image"></a>
                    <div class="blog__content">
                        <a href="#"><h2 class="blog__title">[h2] Lorem ipsum dolor sit amet.</h2></a>
                        <div class="blog__info">
                            <span class="blog__info--month">February</span> <span class="blog__info--day">28</span>, <span class="blog__info--year">2014</span> <span class="blog__info--category">Category</span> <span class="blog__info--comments"><a href="#">2 Comments</a></span>
                        </div>
                        <p class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolore pariatur impedit odio provident voluptas harum, repellat, id repudiandae, hic similique! Neque dolor, fugit tempore praesentium incidunt quod eligendi nobis,
                            harum autem corporis cum nihil quos, laboriosam minus officiis veritatis quidem aspernatur a sunt alias porro quia. Unde, enim...</p>
                        <ul class="tags blog__tags">
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                        </ul>
                        <a href="#" class="blog__btn">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="blog__item">
                    <a href="#"><img src="img/blog/1.jpg" alt="1" class="blog__image"></a>
                    <div class="blog__content">
                        <a href="#"><h2 class="blog__title">[h2] Lorem ipsum dolor sit amet.</h2></a>
                        <div class="blog__info">
                            <span class="blog__info--month">February</span> <span class="blog__info--day">28</span>, <span class="blog__info--year">2014</span> <span class="blog__info--category">Category</span> <span class="blog__info--comments"><a href="#">2 Comments</a></span>
                        </div>
                        <p class="blog__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolore pariatur impedit odio provident voluptas harum, repellat, id repudiandae, hic similique! Neque dolor, fugit tempore praesentium incidunt quod eligendi nobis,
                            harum autem corporis cum nihil quos, laboriosam minus officiis veritatis quidem aspernatur a sunt alias porro quia. Unde, enim...</p>
                        <ul class="tags blog__tags">
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                        </ul>
                        <a href="#" class="blog__btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <a href="#" class="btn-load blog__load">Load more</a>
            </div>
        </div>
    </div>
</main>
