<main class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="contact__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="main-title">[h1] Contact us</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="contact__info">
                                <p>In order to provide our customers with personalized writing service YourCompanyName.com is committed to keeping the lines of communication open at all times.  If you have a question, want to learn more about the services we offer or feel the need to give us additional information concerning your thesis or dissertation, our friendly customer service team is ready and waiting to serve you 24/7.  You can reach one of our customer service teams 24 hours a day, 7 days a week, and 365 days a year by any of the following methods.</p>
                                <p class="mark">Give Us a Call:</p>
                                <p>You can always call us toll free at <span class="mark">1-(044)-255-1512</span> and speak directly to one of our representatives.  Our lines are always open so never hesitate to call us with your questions or concerns.</p>
                                <p>Remember, the GreatDissertation.com customer care lines are open 24/ 7 and our staff of skilled helpful representatives is always standing by with the answers to all of your questions.  If you would like to talk to one of our representatives right now – don’t hesitate!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-sm-10 offset-sm-1">
                            <div class="contact-panel">
                                <ul class="contact-panel__list">
                                    <li class="contact-panel__item"><a class="contact-panel__link contact-panel__link--tel" href="tel:+1234">1(044)225-1512</a></li>
                                    <li class="contact-panel__item contact-panel__item--loc">12 Neas Engomis str., Engomi,<br> Nicosia, Cyprus, 1241</li>
                                    <li class="contact-panel__item"><a class="contact-panel__link contact-panel__link--mail" href="mailto:name@company.com">support@yourcompanyname.com</a></li>
                                </ul>
                            </div>
                            <form action="">
                                <div class="form section-border--outside">
                                    <div class="section-border--inside">
                                        <div class="form__title section-title">
                                            <span class="section-title--color">Contact</span>
                                            <div class="fchat">
                                                <a href="#" class="fchat__button form__title--chat">Live chat</a>
                                                <div class="fchat__border fchat__border--one"></div>
                                                <div class="fchat__border fchat__border--two"></div>
                                            </div>
                                        </div>
                                        <ul class="form__list">
                                            <li class="form__item"><label for="">Your Name</label><input type="text"></li>
                                            <li class="form__item"><label for="">E-mail</label><input type="text"></li>
                                            <li class="form__item"><label for="">Contact phone</label><input type="text"></li>
                                            <li class="form__item"><label for="">Order ID (if known)</label><input type="text"></li>
                                            <li class="form__item"><label for="">Subject</label><input type="text"></li>
                                            <li class="form__item"><label for="">Message</label><textarea name="" id=""></textarea></li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="#" class="btn-send form__send">Send <i class="fa fa-angle-double-right"></i></a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
