<main class="faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="faq__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="faq__title main-title">[h1] FAQ</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="faq__content section-border--inside">
                                <div class="section-border--inside">
                                    <div class="form__title section-title">
                                        <h2>FAQ</h2>
                                    </div>
                                    <ul class="faq__list">
                                        <li class="faq__item">
                                            <span class="faq__question">1. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugit dolorem, beatae ab. Saepe commodi, voluptatum omnis eum? Cupiditate, suscipit.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">2. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa mollitia hic. Aut rem dicta quidem nobis labore maxime, dolorem dolor ullam quam temporibus, impedit cupiditate mollitia nihil esse architecto.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">3. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugit dolorem, beatae ab. Saepe commodi, voluptatum omnis eum? Cupiditate, suscipit.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">4. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa mollitia hic. Aut rem dicta quidem nobis labore maxime, dolorem dolor ullam quam temporibus, impedit cupiditate mollitia nihil esse architecto.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">5. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugit dolorem, beatae ab. Saepe commodi, voluptatum omnis eum? Cupiditate, suscipit.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">6. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa mollitia hic. Aut rem dicta quidem nobis labore maxime, dolorem dolor ullam quam temporibus, impedit cupiditate mollitia nihil esse architecto.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">7. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit fugit dolorem, beatae ab. Saepe commodi, voluptatum omnis eum? Cupiditate, suscipit.</div>
                                        </li>
                                        <li class="faq__item">
                                            <span class="faq__question">8. Lorem</span>
                                            <div class="faq__answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ipsa mollitia hic. Aut rem dicta quidem nobis labore maxime, dolorem dolor ullam quam temporibus, impedit cupiditate mollitia nihil esse architecto.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="faq__info">
                                <h3>[h3]Dissertation requires a lot of hard work, time and energy</h3>
                                <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t afford to take it lightly. Writing a dissertation is a challenging task and requires specialized treatment and proper research.</p>
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <h3>[h3]Dissertation requires a lot of hard work, time and energy</h3>
                                <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t afford to take it lightly. Writing a dissertation is a challenging task and requires specialized treatment and proper research.</p>
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <h3>[h3]Dissertation requires a lot of hard work, time and energy</h3>
                                <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t afford to take it lightly. Writing a dissertation is a challenging task and requires specialized treatment and proper research.</p>
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <h3>[h3]Dissertation requires a lot of hard work, time and energy</h3>
                                <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t afford to take it lightly. Writing a dissertation is a challenging task and requires specialized treatment and proper research.</p>
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
