    <main class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="home__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="main-title">[h1] Home</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="home__about">
                                <div class="home__image">
                                    <img src="img/home/main.jpg" alt="1">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="home__description">
                                <p>The years each of us spends in the academic world are filled with conflicting emotions. First and foremost is the anticipation of entering the ‘real world’ of job market, but this excitement is often overshadowed by the
                                    constant stress of study overload and growing academic demands. <span class="hidden-md-down">The more years you spend in the academic world, the greater these demands become. Studying for tests and examinations, along with the inevitable written
                                    assignments and research projects, all of which must be explored, compiled and handed-in in the shortest possible time frame. It can sometimes lead to emotional and physical overload and burnout. This pressure is even
                                    more intense when a student is forced to juggle their time between study and personal life, participating in sports programs and holding down a job. Some students are able to magically handle all of these demands without
                                    apparent difficulty while others can feel overwhelmed by the constant stress of too much work and too little time to go around.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row price-wrapper">
                    <div class="offset-lg-2 col-lg-8">
                        <div class="bg-header--left1 price--header">Get a price quote</div>
                        <form action="">
                            <div class="price price__bg">
                                <div class="price__inputs">
                                    <div class="input-field">
                                        <label for="assignment">Type of assignment</label>
                                        <select class="" name="">
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Spacing</label>
                                        <select class="" name="">
                                                <option value="Essay">Double spaced*</option>
                                                <option value="Essay">Double spaced*</option>
                                                <option value="Essay">Double spaced*</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Urgency</label>
                                        <select class="" name="">
                                                <option value="Essay">11 days</option>
                                                <option value="Essay">11 days</option>
                                                <option value="Essay">11 days</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Writer level</label>
                                        <select class="" name="">
                                                <option value="Essay">High School</option>
                                                <option value="Essay">High School</option>
                                                <option value="Essay">High School</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Number of pages</label>
                                        <select class="" name="">
                                                <option value="Essay">3 pages</option>
                                                <option value="Essay">3 pages</option>
                                                <option value="Essay">3 pages</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Currency</label>
                                        <select class="" name="">
                                                <option value="Essay">USD</option>
                                                <option value="Essay">USD</option>
                                                <option value="Essay">USD</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="price__footer">
                                    <div class="price__total">
                                        total price: <span class="price__cost">15.99 <span class="price__currency">USD</span></span>
                                    </div>
                                    <a href="#" class="btn-order price__button">order now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="hidden-lg-up">At CompanyName.com, we have spent years helping students cope with the burden of major written assignments. GreatDissertation.com can provide the best possible assistance in achieving your academic goals while leaving you time and energy to keep up with the rest of life’s demands. </p>
                <div class="reasons">
                    <div class="row">
                        <div class="col-12">
                            <div class="reason-title">
                                <h2>Some Reasons to Choose Us</h2>
                                <div class="reason-title__question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row reason">
                        <div class="col-xl-4 col-lg-4">
                            <img src="img/home/1.jpg" alt="" class="reason__image hidden-md-down">
                            <img src="img/home/small1.png" alt="" class="reason__image2 hidden-lg-up">
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <h3 class="reason__title">[h3]Dissertation requires a lot of hard work, time and energy</h3>
                            <div class="reason__text">
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <p>Dissertation writing requires a large amount of energy, hard work, and time. No matter what educational level the paper is for, it is not something that you can take lightly and rush through. Specialized treatment and proper research are mandatory when it comes to writing a dissertation. Since we understand the amount of work and effort that students face when creating their dissertations, we provide professional writing assistance to students of all levels. We are ready to help you with any portion of your dissertation writing assignments, and have a list of writers and researchers with extensive experience in numerous fields.</p>
                            </div>
                            <a href="#" class="btn-read1 reason__button">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="row reason">
                        <div class="col-xl-4 col-lg-4">
                            <img src="img/home/2.jpg" alt="" class="reason__image hidden-md-down">
                            <img src="img/home/small2.png" alt="" class="reason__image2 hidden-lg-up">
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <h3 class="reason__title">[h3]Dissertation requires a lot of hard work, time and energy</h3>
                            <div class="reason__text">
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <p>Dissertation writing requires a large amount of energy, hard work, and time. No matter what educational level the paper is for, it is not something that you can take lightly and rush through. Specialized treatment and proper research are mandatory when it comes to writing a dissertation. Since we understand the amount of work and effort that students face when creating their dissertations, we provide professional writing assistance to students of all levels. We are ready to help you with any portion of your dissertation writing assignments, and have a list of writers and researchers with extensive experience in numerous fields.</p>
                            </div>
                            <a href="#" class="btn-read1 reason__button">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="row reason">
                        <div class="col-xl-4 col-lg-4">
                            <img src="img/home/3.jpg" alt="" class="reason__image hidden-md-down">
                            <img src="img/home/small3.png" alt="" class="reason__image2 hidden-lg-up">
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <h3 class="reason__title">[h3]Dissertation requires a lot of hard work, time and energy</h3>
                            <div class="reason__text">
                                <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                                <p>Dissertation writing requires a large amount of energy, hard work, and time. No matter what educational level the paper is for, it is not something that you can take lightly and rush through. Specialized treatment and proper research are mandatory when it comes to writing a dissertation. Since we understand the amount of work and effort that students face when creating their dissertations, we provide professional writing assistance to students of all levels. We are ready to help you with any portion of your dissertation writing assignments, and have a list of writers and researchers with extensive experience in numerous fields.</p>
                            </div>
                            <a href="#" class="btn-read1 reason__button">read more <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row home__footer">
                    <div class="col-12">
                        <p>At YourCompanyName.com, we have spent years helping students cope with the burden of major written assignments. GreatDissertation.com can provide the best possible assistance in achieving your academic goals while leaving you time and energy to keep up with the rest of life’s demands. At YourCompanyName.com, our team of writers, researchers, editors and customer assistants can help you cope with the toughest writing assignment, no matter what academic level or assigned topic it would be. Rather than struggling your way through the days and weeks of research, assembling an outline, writing and rewriting the paper and then trying to fit it all into the assigned format, why not let the professional writing team of YourCompanyName.com do the hard work for you?</p>
                        <div class="hidden-md-down">
                            <a href="#" class="home__banner"><img src="img/home/banner.jpg" alt="banner"></a>
                            <p>At YourCompanyName.com, we have spent years helping students cope with the burden of major written assignments. YourCompanyName.com can provide the best possible assistance in achieving your academic goals while leaving you time and energy to keep up with the rest of life’s demands. At YourCompanyNamecom, our team of writers, researchers, editors and customer assistants can help you cope with the toughest writing assignment, no matter what academic level or assigned topic it would be. Rather than struggling your way through the days and weeks of research, assembling an outline, writing and rewriting the paper and then trying to fit it all into the assigned format, why not let the professional writing team of YourCompanyName.com do the hard work for you?</p>
                            <a href="#" class="home__banner"><img src="img/home/banner1.jpg" alt="banner"></a>
                            <p>Our customer support team is always here to answer your questions, take your suggestions or provide information 24/7. You can contact our customer care team by email, telephone or live chat. No matter what you need, or when you need it, YourCompanyName.com is here to help you. For complete contact details, please, go to the ‘Contact Us’ page on this website.</p>
                            <p>At YourCompanyName.com, our purpose is to provide students with extra help they need to make their academic experience as successful as possible. Whether you simply don’t have time to deal with the paper, are uncertain how to approach that major writing project, or just need a critical eye to edit your existing paper, YourCompanyName.com is an ideal ally in assisting you to reach your academic goals. Whenever you need help in writing a thesis or dissertation, remember that YourCompanyName.com is the best source for academic writing. So relax, call us today, and let us take the worry out of your next writing assignment.</p>
                        </div>
                        //= sections/section-btn.html
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
