<main class="maintenance">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-lg-10 offset-lg-1">
                <div class="maintenance__content">
                    <div class="maintenance__title">
                        maintenance mode
                    </div>
                    <div class="maintenance__subscribe">
                        Sorry for inconvenience. We are down for maintenance.<br>CompanyName.com will be available soon
                    </div>
                    <div class="time">
                        <div class="time__border time__days">
                            <span class="time__number">4</span>
                            <span class="time__much">days</span>
                        </div>
                        <span class="time__break">:</span>
                        <div class="time__border time__hours">
                            <span class="time__number">18</span>
                            <span class="time__much">hours</span>
                        </div>
                        <span class="time__break">:</span>
                        <div class="time__border time__minutes">
                            <span class="time__number">32</span>
                            <span class="time__much">minutes</span>
                        </div>
                    </div>
                    <i class="maintenance__img"></i>
                    <ul class="m-socials">
                        <li class="m-socials__item"><a href="#" class="m-socials__link"><i class="fa fa-twitter"></i></a></li>
                        <li class="m-socials__item"><a href="#" class="m-socials__link"><i class="fa fa-facebook"></i></a></li>
                        <li class="m-socials__item"><a href="#" class="m-socials__link"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="m-socials__item"><a href="#" class="m-socials__link"><i class="fa fa-instagram"></i></a></li>
                        <li class="m-socials__item"><a href="#" class="m-socials__link"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
