<main class="m-orders">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="m-orders__content">
                    <div class="row m-orders__tables">
                        <div class="col-xl-11">
                            <div class="messages section-border--outside">
                                <div class="section-title messages__title">
                                    <span class="section-title--color">New messages</span>
                                </div>
                                <table class="messages__table" cellpadding="0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="messages__section">
                                            <th>Order ID</th>
                                            <th>Title / topic</th>
                                            <th>Messages</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>No new messages</td>
                                            <td>1</td>
                                            <td>2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-11">
                            <div class="process section-border--outside">
                                <div class="section-title paper-title">
                                    <span class="section-title--color">Processing orders</span>
                                </div>
                                <table class="process__table" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-11">
                            <div class="complete section-border--outside">
                                <div class="section-title paper-title">
                                    <span class="section-title--color">Completed orders</span>
                                </div>
                                <table class="complete__table" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>Order ID</td>
                                            <td>2342511</td>
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td>23.04.2011 (15:34)</td>
                                        </tr>
                                        <tr>
                                            <td>Title / topic</td>
                                            <td><a href="#">Test</a></td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>Payment verification</td>
                                        </tr>
                                        <table>
                                            <tr>
                                                <td class="complete__dnone"></td>
                                                <td class="complete__buttons">
                                                    <a href="#" class="btn-complete">Hello</a>
                                                    <a href="#" class="btn-complete">Hello</a>
                                                    <a href="#" class="btn-complete">Hello</a>
                                                    <a href="#" class="btn-complete">Hello</a>
                                                    <fieldset class="rating">
                                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                    </fieldset>
                                                    <span class="complete__vip">
                                                        order
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-11">
                            <div class="notice section-border--outside">
                                <div class="section-title paper-title">
                                    <span class="section-title--color">Notice</span>
                                </div>
                                <div class="notice__info">
                                    <p>Important notice about fraudulent chargebacks: <br>
                                        It is a well-known fact that the quality of our writing is very high. The chargebacks are created only following the fraud motives, we are forced to fight against this. <br>
                                        If we recieve a chargeback (after the essay is written and received by you and we weren’t asked to rewrite, correct, etc), it is considered as a customer fraud and the following measures will be taken: <br>
                                        We will address fraud.org and ic3.gov (Internet Crime Complaint Center (IC3)) etc. with a complaint about the fraud actions in order the appropriate measures to be taken. <br>
                                        We turn to your bank administration with a chargeback appeal demand. <br>
                                        We will ask your credit card issuer to include your name in the blacklist. <br>
                                        Your name and surname and other information will be blacklisted in all writing services network, you won’t be able to do any order again. <br>
                                        Again and again, these actions are taken only considering dishonest chardgebacks. Please, understand our reasons. We are very glad to see you as our regular customer and we are glad to offer great discounts for you on this basis.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
