<main class="order-d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12">
                <div class="order-d__content order-d--pb60">
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-sm-10 offset-sm-1">
                                <div class="order-d__table order-d--pb60">
                                    <div class="table section-border--outside">
                                        <div class="section-border--inside">
                                            <div class="profile__title section-title">
                                                <span class="section-title--color">Order details</span>
                                            </div>
                                            <table class="table__item" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Order ID</td>
                                                        <td>5589457323</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Subject</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Topic</td>
                                                        <td>Test</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Type of assignment</td>
                                                        <td>Essay</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Urgency</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Writer level</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Style</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Sources</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Language</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Description</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Added</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Delivery</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Spacing</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Page price</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Pages</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Additional services</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Discount</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Payment services</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Writers ID</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Previous order ID</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Order status</td>
                                                        <td></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-send table__button">Pay now</a>
                                </div>
                                <div class="files order-d--pb60">
                                    <div class="table2 section-border--outside">
                                        <div class="section-border--inside">
                                            <div class="profile__title section-title">
                                                <span class="section-title--color">Files</span>
                                            </div>
                                            <table class="table2__item" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Date</td>
                                                        <td class="table2__date">2016.09.14 9:43</td>
                                                    </tr>
                                                    <tr>
                                                        <td>File</td>
                                                        <td class="mark table2__file">5465746654_file.doc</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Comment</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="mark table2__check">plagiarism check</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-send table2__button">Upload file</a>
                                </div>
                                <div class="messages order-d--pb60">
                                    <div class="table2 section-border--outside">
                                        <div class="section-border--inside">
                                            <div class="messages__title section-title">
                                                <span class="section-title--color">Messages</span>
                                            </div>
                                            <table class="table2__item table2__item--unread" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Date</td>
                                                        <td class="table2__date">2016.09.14 9:43</td>
                                                    </tr>
                                                    <tr>
                                                        <td>From</td>
                                                        <td class="table2__from"><a href="#" class="table2__link">Administrator</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>To</td>
                                                        <td><a href="#" class="table2__link">Me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Subject</td>
                                                        <td class="table2__subject"><a href="#" class="table2__link table2__link--subject">Hello</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table2__item table2__item" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td>Date</td>
                                                        <td class="table2__date">2016.09.14 9:43</td>
                                                    </tr>
                                                    <tr>
                                                        <td>From</td>
                                                        <td class="table2__from"><a href="#" class="table2__link">Administrator</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>To</td>
                                                        <td><a href="#" class="table2__link">Me</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Subject</td>
                                                        <td class="table2__subject"><a href="#" class="table2__link table2__link--subject">Hello</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-send table2__button">Send message</a>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
