<main class="order">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="order__content">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-6 col-12">
                            <h1 class="main-title">[h1] Buy Dissertation</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10">
                            <div class="place">
                                <p class="place__p1">Place a new order now!</p>
                                <p class="place__p2">It takes just a few minutes</p>
                            </div>
                            <ul class="breadcrumbs">
                                <li class="breadcrumbs__item">
                                    <div class="breadcrumbs__number">
                                        <span class="breadcrumbs__number--bg">1</span>
                                    </div>
                                    <div class="breadcrumbs__info">
                                        Submit your<br> paper details
                                    </div>
                                </li>
                                <li class="breadcrumbs__arrows">
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--top"></span>
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--bot"></span>
                                </li>
                                <li class="breadcrumbs__item">
                                    <div class="breadcrumbs__number">
                                        <span class="breadcrumbs__number--bg">2</span>
                                    </div>
                                    <div class="breadcrumbs__info">
                                        Pay for the<br> order
                                    </div>
                                </li>
                                <li class="breadcrumbs__arrows">
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--top"></span>
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--bot"></span>
                                </li>
                                <li class="breadcrumbs__item">
                                    <div class="breadcrumbs__number">
                                        <span class="breadcrumbs__number--bg">3</span>
                                    </div>
                                    <div class="breadcrumbs__info">
                                        Download your<br> custom written paper
                                    </div>
                                </li>
                                <li class="breadcrumbs__arrows">
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--top"></span>
                                    <span class="breadcrumbs__arrow breadcrumbs__arrow--bot"></span>
                                </li>
                                <li class="breadcrumbs__item">
                                    <div class="breadcrumbs__number">
                                        <span class="breadcrumbs__number--bg">4</span>
                                    </div>
                                    <div class="breadcrumbs__info breadcrumbs__info--start">
                                        Start now!
                                    </div>
                                </li>
                            </ul>
                            <div class="comment">
                                <div class="comment__info">
                                    <p class="comment__info--p">Our prices start from <span class="comment__info--mark">$12.99</span>. All papers are written from stratch according your instructions by professional writers. You will get high quality plagiarism free paper delivered to your email on time.</p>
                                </div>
                            </div>
                            <div class="t-order__guarantee">
                                <p>We guarantee high quality of our custom writing and professional support available 24/7</p>
                            </div>
                        </div>
                    </div>
                    <div class="row order__tables">
                        <div class="offset-xl-1 col-xl-10">
                            <form action="">
                            <div class="t-order section-border--outside t-order--personal">
                                <div class="section-title paper-title">
                                    <span class="section-title--color">Personal information</span>
                                </div>
                                <table class="t-order__table" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>First name</td>
                                            <td></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>Last name</td>
                                            <td></td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>E-mail</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td><input type="email"></td>
                                        </tr>
                                        <tr>
                                            <td>Country code</td>
                                            <td></td>
                                            <td>
                                                <select name="" id="">
                                                    <option value="">USA-1</option>
                                                    <option value="">USA-1</option>
                                                    <option value="">USA-1</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td><input type="tel"></td>
                                        </tr>
                                        <table width="100%" class="t-order__format">
                                            <tr>
                                                <td>Number should be of the following format: (country code)-(area code)-(number)</td>
                                            </tr>
                                        </table>
                                    </tbody>
                                </table>
                            </div>
                            <div class="t-order section-border--outside t-order--paper">
                                <div class="section-title paper-title2">
                                    <span class="section-title--color">Paper requirements</span>
                                </div>
                                <table class="t-order__table" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td>Subject</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">Subject 123</option>
                                                    <option value="">Subject 123</option>
                                                    <option value="">Subject 123</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Title of your paper *</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td><input type="text"></td>
                                        </tr>
                                        <tr>
                                            <td>Type of assignment</td>
                                            <td></td>
                                            <td>
                                                <select name="" id="">
                                                    <option value="">Essay</option>
                                                    <option value="">Essay</option>
                                                    <option value="">Essay</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Timeframes</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">Timeframes 123</option>
                                                    <option value="">Timeframes 123</option>
                                                    <option value="">Timeframes 123</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Writer level</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">80</option>
                                                    <option value="">80</option>
                                                    <option value="">80</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Spacing</td>
                                            <td></td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">Single</option>
                                                    <option value="">Single</option>
                                                    <option value="">Single</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Currency</td>
                                            <td></td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">USA</option>
                                                    <option value="">USA</option>
                                                    <option value="">USA</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="dib pb10">Cost per page</td>
                                            <td></td>
                                            <td class="t-order__cost dib-right">
                                                <span class="t-order__cost--mon">49.99</span> <span class="t-order__cost--cur">USA</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Number of pages</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">100</option>
                                                    <option value="">100</option>
                                                    <option value="">100</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1-page summary of your paper</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="" value="">
                                                <label for="">21.99 USD</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Draft of your paper</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="" value="">
                                                <label for="">20.59 USD</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Extended revision</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="checkbox" name="" value="">
                                                <label for="">12.99 USD</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Style</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="" name="">
                                                    <option value="">Style</option>
                                                    <option value="">80</option>
                                                    <option value="">80</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Number of sources / references *</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" name="" value="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Preferred language style</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="t-order__us">
                                                    <input type="radio" name="language" value="" checked id="us">
                                                    <label for="us">US writer</label>
                                                </div>
                                                <div class="t-order__uk">
                                                    <input type="radio" name="language" value="" id="uk">
                                                    <label for="uk">UK writer (+5 to the other total)</label>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr class="t-order__inst">
                                            <td>Your paper instructions *</td>
                                            <td>
                                                <div class="t-order__hint">
                                                    <i class="fa fa-question t-order__icon"></i>
                                                    <div class="t-order__hint-content"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <textarea name="name"></textarea>
                                                <p>Please, provide detailed descriptions of your paper. The more details you give us, the easier it will be for us to write the exact paper you desire.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="dib pb10">Attachment</td>
                                            <td></td>
                                            <td class="dib align-right"><a href="#" class="btn-add"><i class="fa fa-plus btn-add__plus"></i>Add file</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="align-center pb10">
                                                <input type="checkbox" name="" value="">
                                                <label for="">I agree to receive phone calls from you at night in case of emergency</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="align-center pb10">
                                                <input type="checkbox" name="" value="">
                                                <label for="">Email me about custom writing service and other product related updates</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Discount code</td>
                                            <td></td>
                                            <td>
                                                <input type="text" name="" value="">
                                                <a href="#" class="btn-apply">Apply discount</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Preferred writer's ID</td>
                                            <td></td>
                                            <td>
                                                <div class="t-order__writerID">
                                                    <input type="text" name="" value="" class="w85">
                                                    <div class="t-order__delete">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                </div>
                                                <div class="t-order__add-writer">
                                                    <a href="#" class="btn-add"><i class="fa fa-plus btn-add__plus"></i>Add writer</a>
                                                    <div class="t-order__hint">
                                                        <i class="fa fa-question t-order__icon"></i>
                                                        <div class="t-order__hint-content"></div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="p20">
                                                <p>If your order will be written by a preferred writer you will be charged additional +15%. This additional payment will go directly to the writer. It will ensure the highest priority of your order among others.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="p20">
                                                <p>Disclaimer: the service provided is meant to assist you by providing a guideline. The product provided is intended to be used for research or study purposes.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p20 t-order__links">
                                                <a href="#">Terms and Conditions,</a> <br>
                                                <a href="#">Privacy Policy</a> and the <a href="#">Delivery Policy</a>
                                            </td>
                                            <td></td>
                                            <td class="t-order__p20 i-accept">
                                                <input type="checkbox" id="i-accept">
                                                <label for="i-accept">I accept</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="total">
                                <span class="total__text">Grand total price</span>
                                <div class="total__price">
                                    <span class="total__price--mon">145.00</span>
                                    <span class="total__price--cur">USD</span>
                                </div>
                            </div>
                            <div class="order-preview">
                                <a href="#" class="btn-order2">Preview</a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
