<main class="prices">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="prices__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="main-title">[h1] Contact us</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="prices__info">
                                <p>YourCompanyName.com strives diligently to strike a fair and equitable balance between the product we provide to our customers and the cost of our services.  We sincerely believe that the superior quality of YourCompanyName.com writing services far exceeds that of our competitors.  We never re-use previously written papers, never ‘cut and paste’ information into our work and guard strenuously against plagiarism.  The 100% original content of our papers, combined with our array of iron-clad guarantees, makes our service far more reliable and credible than that provided by cut-rate services or services which charge exorbitant fees for non-existent extras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-sm-10 offset-sm-1">
                            <form action="">
                                <div class="prices-wrapper section-border--outside">
                                    <div class="section-border--inside">
                                        <div class="prices__title section-title2">
                                            <span class="section-title2--color">Prices</span>
                                            <ul class="currency">
                                                <li class="currency__item"><a href="#" class="currency__link">USD</a></li>
                                                <li class="currency__item"><a href="#" class="currency__link">EUR</a></li>
                                                <li class="currency__item"><a href="#" class="currency__link">GBR</a></li>
                                                <li class="currency__item"><a href="#" class="currency__link">AUD</a></li>
                                            </ul>
                                        </div>
                                        <div class="prices-wrapper__panel">
                                            <div class="prices-wrapper__type">
                                                <span class="prices-wrapper__panel--span">Type of document:</span>
                                                <div class="input-field prices-wrapper__type--input">
                                                    <select class="" name="">
                                                        <option value="">1243</option>
                                                        <option value="">1243</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="prices-wrapper__number">
                                                <span class="prices-wrapper__panel--span">Number of pages:</span>
                                                <div class="input-field prices-wrapper__number--input">
                                                    <select class="" name="">
                                                        <option value="">1243</option>
                                                        <option value="">1243</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prices-table">
                                            <ul class="prices-table__head">
                                                <li class="prices-table__title prices-table__title--head">Academic level / Deadline</li>
                                                <li class="prices-table__value prices-table__value--head">2 days</li>
                                                <li class="prices-table__value prices-table__value--head">5 days</li>
                                                <li class="prices-table__value prices-table__value--head">10 days</li>
                                                <li class="prices-table__value prices-table__value--head">14 days</li>
                                                <li class="prices-table__value prices-table__value--head">21 days</li>
                                                <li class="prices-table__value prices-table__value--head">1 month</li>
                                                <li class="prices-table__value prices-table__value--head">2 month</li>
                                            </ul>
                                            <div class="prices-table__body">
                                                <div class="next"><i class="fa fa-angle-right"></i></div>
                                                <div class="prev"><i class="fa fa-angle-left"></i></div>
                                                <div class="slider">
                                                    <ul class="prices-table__slide">
                                                        <li class="prices-table__title">Undergraduate</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">30.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">27.99 USD</li>
                                                        <li class="prices-table__value">31.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                    </ul>
                                                    <ul class="prices-table__slide">
                                                        <li class="prices-table__title">Master's</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">30.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">27.99 USD</li>
                                                        <li class="prices-table__value">31.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                    </ul>
                                                    <ul class="prices-table__slide">
                                                        <li class="prices-table__title">PHD</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">30.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                        <li class="prices-table__value">40.99 USD</li>
                                                        <li class="prices-table__value">27.99 USD</li>
                                                        <li class="prices-table__value">31.99 USD</li>
                                                        <li class="prices-table__value">35.99 USD</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-12">
                            <p class="prices__info">YourCompanyName..com strives diligently to strike a fair and equitable balance between the product we provide to our customers and the cost of our services.  We sincerely believe that the superior quality of YourCompanyName..com writing services far exceeds that of our competitors.  We never re-use previously written papers, never ‘cut and paste’ information into our work and guard strenuously against plagiarism.  The 100% original content of our papers, combined with our array of iron-clad guarantees, makes our service far more reliable and credible than that provided by cut-rate services or services which charge exorbitant fees for non-existent extras.</p>
                            <div class="row prices__lists">
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="prices-list">
                                        <header class="prices-list__title">
                                            FREE Features
                                        </header>
                                        <ul class="arrow">
                                            <li>FREE bibliography page</li>
                                            <li>FREE delivery</li>
                                            <li>FREE unlimited amendments</li>
                                            <li>FREE formatting</li>
                                            <li>FREE outline</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="prices-list">
                                        <header class="prices-list__title">
                                            Paper Format
                                        </header>
                                        <ul class="arrow">
                                            <li>12 point font size</li>
                                            <li>Double-spaced</li>
                                            <li>Over 300 words/page</li>
                                            <li>Text aligned left</li>
                                            <li>One-inch margins</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6">
                                    <div class="prices-list">
                                        <header class="prices-list__title">
                                            We Guarantee
                                        </header>
                                        <ul class="arrow">
                                            <li>High quality product</li>
                                            <li>On time delivery</li>
                                            <li>No hidden charges</li>
                                            <li>24/7 customer support</li>
                                            <li>No plagiarism</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="prices__info">The convenient tables below outline our price structure according to academic level and the deadline. All prices are given on a per-page rate based on 275 words per page.  You can calculate the final cost of your paper by dividing the total number of words required by 275; the resulting number will be your total page count. Please multiply this number by the cost per page, as indicated on the appropriate chart below, and you will have your total cost. At YourCompanyName.com there are never any hidden costs or ‘extra’ fees. The price you see is exactly what you will pay.  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
