<main class="profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12">
                <div class="profile__content">
                    <div class="row">
                        <div class="offset-xl-1 col-xl-10 col-sm-10 offset-sm-1">
                                <div class="table section-border--outside">
                                    <div class="section-border--inside">
                                        <div class="profile__title section-title">
                                            <span class="section-title--color">Profile</span>
                                            <a href="#" class="profile__edit"></a>
                                        </div>
                                        <table class="table__item" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>Login (discount code)</td>
                                                    <td>maxiaxia@gmail.ru</td>
                                                </tr>
                                                <tr>
                                                    <td>First name</td>
                                                    <td>Max</td>
                                                </tr>
                                                <tr>
                                                    <td>Last name</td>
                                                    <td>Malinovskiy</td>
                                                </tr>
                                                <tr>
                                                    <td>E-mail</td>
                                                    <td>maxiaxia@gmail.ru</td>
                                                </tr>
                                                <tr>
                                                    <td>Alternative E-mail</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Receive E-mail</td>
                                                    <td>Yes</td>
                                                </tr>
                                                <tr>
                                                    <td>Contact phone</td>
                                                    <td>123456789</td>
                                                </tr>
                                                <tr>
                                                    <td>Alternative phone</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Allow night calls</td>
                                                    <td>Yes</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
