<main class="post section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <h1 class="post-title">[h1]Lorem Ipsum Dolor Sit Amet</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-12">
                <div class="post__content">
                    <div class="row">
                        <div class="col-12 post__link">
                            <a href="#">main blog</a>
                        </div>
                    </div>
                    <div class="row post__header">
                        <div class="col-xl-4">
                            <div class="post__info">
                                <div><span class="post__info--month">February</span> <span class="post__info--day">28</span>, <span class="post__info--year">2014</span></div> <span class="post__info--category">Category</span> <span class="post__info--comments"><a href="#">2 Comments</a></span>
                            </div>
                            <div class="post__desc">
                                Suspendisse ut condimentum nunc. Vivamus accumsan faucibus metus, in viverra nibh ornare nec. Integer et arcu at erat luctus sodales. Duis ut tincidunt risus. Donec at euismod lorem. Sed rutrum sed nunc vel sollicitudin. Aliquam erat volutpat. Proin eleifend odio ut tortor malesuada, sit amet sagittis dui facilisis.
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <img src="img/blog/post.jpg" alt="" class="post__image">
                        </div>
                    </div>
                    <div class="row post__text">
                        <div class="col-12">
                            <p>Suspendisse ut condimentum nunc. Vivamus accumsan faucibus metus, in viverra nibh ornare nec. Integer et arcu at erat luctus sodales. Duis ut tincidunt risus. Donec at euismod lorem. Sed rutrum sed nunc vel sollicitudin. Aliquam erat volutpat. Proin eleifend odio ut tortor malesuada, sit amet sagittis dui facilisis.</p>
                            <p>Vivamus laoreet dolor nec nibh imperdiet, blandit venenatis ante congue. Duis lectus ipsum, aliquet sed placerat consectetur, tempus sit amet risus. Nulla accumsan justo vel urna hendrerit feugiat. Morbi quis eleifend purus, sit amet tincidunt sapien. Sed viverra interdum dolor, vel porttitor sapien malesuada eget. Sed congue lobortis mi, et suscipit eros semper eu. Suspendisse ac risus fermentum, cursus felis a, laoreet ante. Nunc ullamcorper eu justo quis sagittis. Phasellus cursus lectus at nunc mattis, a pulvinar urna finibus. Praesent quis metus vel ante eleifend posuere ac eu lectus. Etiam rutrum, dolor in sagittis ornare, arcu sapien condimentum tellus, a pharetra elit nulla quis ante. Donec a blandit nunc, vel gravida nisi. Suspendisse potenti. Cras vulputate turpis at dolor malesuada, ut porta metus eleifend.</p>
                            <p>Donec rhoncus egestas mauris. Nullam rutrum id lectus eget laoreet. In ut ipsum in ante porttitor sollicitudin. Maecenas at imperdiet eros. Aenean porta justo vel orci aliquet dignissim. Duis gravida, ex vel iaculis venenatis, neque velit cursus nisi, nec consectetur nibh ligula a quam. Proin vestibulum placerat nisl vel tempor. Sed at pulvinar nisl, id mollis justo.</p>
                            <p>Vivamus laoreet dolor nec nibh imperdiet, blandit venenatis ante congue. Duis lectus ipsum, aliquet sed placerat consectetur, tempus sit amet risus. Nulla accumsan justo vel urna hendrerit feugiat. Morbi quis eleifend purus, sit amet tincidunt sapien. Sed viverra interdum dolor, vel porttitor sapien malesuada eget. Sed congue lobortis mi, et suscipit eros semper eu. Suspendisse ac risus fermentum, cursus felis a, laoreet ante. Nunc ullamcorper eu justo quis sagittis. Phasellus cursus lectus at nunc mattis, a pulvinar urna finibus. Praesent quis metus vel ante eleifend posuere ac eu lectus. Etiam rutrum, dolor in sagittis ornare, arcu sapien condimentum tellus, a pharetra elit nulla quis ante. Donec a blandit nunc, vel gravida nisi. Suspendisse potenti. Cras vulputate turpis at dolor malesuada, ut porta metus eleifend.</p>
                            <p>Donec rhoncus egestas mauris. Nullam rutrum id lectus eget laoreet. In ut ipsum in ante porttitor sollicitudin. Maecenas at imperdiet eros. Aenean porta justo vel orci aliquet dignissim. Duis gravida, ex vel iaculis venenatis, neque velit cursus nisi, nec consectetur nibh ligula a quam. Proin vestibulum placerat nisl vel tempor. Sed at pulvinar nisl, id mollis justo.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="tags">
                                <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                                <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                                <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                                <li class="tags__item"><a href="#" class="tags__link">Tag word</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="pages">
                                <li class="pages__item pages__item--left">
                                    <!-- <span class="pages__disable"></span> -->
                                    <span class="pages__larrow"><a href="#" class="pages__nav pages__nav--prev">Vivamus laoreet dolor nec nibh imperdiet</a></span>
                                </li>
                                <li class="pages__item pages__item--right">
                                    <span class="pages__disable">Duis lectus ipsum, aliquet sed placerat consectetur</span>
                                    <!-- <span class="pages__rarrow"><a href="#" class="pages__nav pages__nav--next"></a></span> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <div class="comments__item">
                        <img class="comments__img" src="img/user.png" alt=""></img>
                        <div class="comments__content">
                            <div class="comments__info">
                                <div class="comments__user">
                                    <div class="comments__info--name">Jennifer Freeman</div>
                                    <div class="comments__info--date">May 29th 2015, 6:00 pm</div>
                                </div>
                                <a href="" class="comments__reply">reply</a>
                            </div>
                            <p class="comments__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus eu nulla eleifend eleifend id in nibh. Nullam nec condimentum sem. Donec viverra convallis justo. Nam eget consectetur erat, et imperdiet odio.</p>
                        </div>
                    </div>
                    <div class="comments__item comments__sub">
                        <img class="comments__img" src="img/user.png" alt=""></img>
                        <div class="comments__content">
                            <div class="comments__info">
                                <div class="comments__user">
                                    <div class="comments__info--name">Jennifer Freeman</div>
                                    <div class="comments__info--date">May 29th 2015, 6:00 pm</div>
                                </div>
                                <a href="" class="comments__reply">reply</a>
                            </div>
                            <p class="comments__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu risus eu nulla eleifend eleifend id in nibh. Nullam nec condimentum sem. Donec viverra convallis justo. Nam eget consectetur erat, et imperdiet odio.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-12">
                        <div class="add-comment">
                            <label for="">Add comment</label>
                            <textarea name="name"></textarea>
                            <label for="">Name</label>
                            <input type="text">
                            <label for="">Email</label>
                            <input type="email">
                            <a href="#" class="btn-send">Post</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
            </div>
        </div>

    </div>
</main>
