<main class="testimonials">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="testimonials__content">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-12">
                            <h1 class="main-title">[h1] Testimonials</h1>
                        </div>
                    </div>
                    <div class="row testimonials__panel">
                        <div class="col-sm-6 col-12">
                            <ul class="pagination">
                                <li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">1</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-12 testimonials__leave">
                            <a href="#" class="btn-leave">Leave your <i class="fa fa-commenting"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonials__wrapper">
                                <div class="testimonials__item">
                                    <span class="testimonials__name">Myles Redding, Omaha, NE</span>
                                    <p class="testimonials__text">I would like to commend you for the excellent job your writers did on my dissertation on geography. The subject matter was rather difficult, and I was delighted to find that whoever had written my dissertation did such thorough and well-documented research. Thank you very much.</p>
                                </div>
                                <div class="testimonials__item">
                                    <span class="testimonials__name">Myles Redding, Omaha, NE</span>
                                    <p class="testimonials__text">I would like to commend you for the excellent job your writers did on my dissertation on geography. The subject matter was rather difficult, and I was delighted to find that whoever had written my dissertation did such thorough and well-documented research. Thank you very much.</p>
                                </div>
                                <div class="testimonials__item">
                                    <span class="testimonials__name">Myles Redding, Omaha, NE</span>
                                    <p class="testimonials__text">I would like to commend you for the excellent job your writers did on my dissertation on geography. The subject matter was rather difficult, and I was delighted to find that whoever had written my dissertation did such thorough and well-documented research. Thank you very much.</p>
                                </div>
                                <div class="testimonials__item">
                                    <span class="testimonials__name">Myles Redding, Omaha, NE</span>
                                    <p class="testimonials__text">I would like to commend you for the excellent job your writers did on my dissertation on geography. The subject matter was rather difficult, and I was delighted to find that whoever had written my dissertation did such thorough and well-documented research. Thank you very much.</p>
                                </div>
                                <div class="testimonials__item">
                                    <span class="testimonials__name">Myles Redding, Omaha, NE</span>
                                    <p class="testimonials__text">I would like to commend you for the excellent job your writers did on my dissertation on geography. The subject matter was rather difficult, and I was delighted to find that whoever had written my dissertation did such thorough and well-documented research. Thank you very much.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pagination--bot">
                        <div class="col-12">
                            <ul class="pagination">
                                <li class="pagination__item"><a href="#" class="pagination__link pagination__link--active">1</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">4</a></li>
                                <li class="pagination__item"><a href="#" class="pagination__link">5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 offset-xl-3">
                            <div class="comments">
                                <form action="">
                                    <div class="form section-border--outside">
                                        <div class="section-border--inside">
                                            <div class="comments__title section-title">
                                                Contact
                                            </div>
                                            <ul class="form__list">
                                                <li class="form__item"><label class="form__label" for="">Your Name</label><input type="text"></li>
                                                <li class="form__item"><label class="form__label" for="">Comment</label><textarea name="" id=""></textarea></li>
                                                <li class="form__item form__item--rate"><label class="form__label" for="">Your mark</label>
                                                    <fieldset class="rating">
                                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                    </fieldset>
                                            </li>
                                                <a href="#" class="btn-send form__send">Send message</a>
                                            </ul>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-12">
                            //= sections/section-btn.html
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
