<main class="text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2">
                //= sections/sidebar-left.html
            </div>
            <div class="col-xl-8 col-lg-9 col-md-12 section-padding">
                <div class="text__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5 col-12">
                            <h1 class="main-title">[h1] Lorem Ipsum</h1>
                        </div>
                    </div>
                    <p>The years each of us spends in the academic world are filled with conflicting emotions. First and foremost is the anticipation of entering the ‘real world’ of job market, but this excitement is often overshadowed by the constant stress of study overload and growing academic demands. The more years you spend in the academic world, the greater these demands become. Studying for tests and examinations, along with the inevitable written assignments and research projects, all of which must be explored, compiled and handed-in in the shortest possible time frame.</p>
                    <a href="#" class="text__banner"><img src="img/banner.jpg" alt=""></a>
                    <ol>
                        <li>What services does YourCompanyName.com provide?</li>
                        <li>How can YourCompanyName.com help me?</li>
                        <li>How does YourCompanyName.com protect my privacy?</li>
                        <li>What format does YourCompanyName.com normally use for the papers?</li>
                        <li>Can YourCompanyName.com write a paper on any topic?</li>
                        <li>Just how qualified are your writers?</li>
                    </ol>
                    <h2 class="h-title">[h2]Our Guarantees:</h2>
                    <ul class="arrow">
                        <li>Every paper we write will be 100% original and custom written just for you.</li>
                        <li>Every one of our papers will be delivered prior to your stated deadline.</li>
                        <li>Every paper we write comes with the promise of free revisions. If you need us to make changes we will happily review the work free of charge.</li>
                        <li>Every paper written by GreatDissertation.com will follow your instructions and specifications.</li>
                        <li>Every paper written at GreatDissertation.com will be fully researched and referenced according to your requirements.</li>
                        <li>Every paper produced at GreatDissertation.com comes with a full bibliography.</li>
                        <li>Every paper is guaranteed to adhere to a First Class, 2:1 or 2:2 standard</li>
                    </ul>
                    <h2>[h2]Academic Standards Guarantee</h2>
                    <p>YourCompanyName.com is proud to offer unequaled services by backing them up with a variety of guarantees that assure our customers of receiving the finest, most professional academic writing services available.  Our unique company will not only provide you with the finest theses and dissertations, but will do that exactly on time, even prior to your deadline. Moreover, our services come with a guarantee of 100% customer satisfaction.  Below is a list of our guarantees – check them out to make sure that we meet your needs!</p>
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="quotation">
                                <p class="quotation__text">If it sounds like writing, I rewrite it. Or, if proper usage gets in the way, it may have to go. I can’t allow what we learned in English composition to disrupt the sound and rhythm of the narrative.</p>
                                <span class="quotation__name">— Elmore Leonard</span>
                            </div>
                        </div>
                    </div>
                    <h3>[h3]Dissertation requires a lot of hard work, time and energy</h3>
                    <p>Whether it is for undergraduate, Masters or PhD Level, it is a crucial task, and you can’t afford to take it lightly. Writing a dissertation is a challenging task and requires specialized treatment and proper research.</p>
                    <p>Unless you plan to build a career in professional writing, your dissertation could be the most difficult writing assignment you have ever had. Dissertation writing is the final stage that a student has to pass before he or she will be recognized as an equal in their chosen field. It evaluates many things, including a student's knowledge of a topic, their ability to come up with thoughts and ideas on their own, and to present these thoughts and ideas to their peers. Therefore, you should have no doubts in the quality of your dissertation when presenting it for review to your dissertation committee.</p>
                </div>
                <div class="row price-wrapper">
                    <div class="offset-lg-2 col-lg-8">
                        <div class="bg-header--left1 price--header">Get a price quote</div>
                        <form action="">
                            <div class="price price__bg">
                                <div class="price__inputs">
                                    <div class="input-field">
                                        <label for="assignment">Type of assignment</label>
                                        <select class="" name="">
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                                <option value="Essay">Essay</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Spacing</label>
                                        <select class="" name="">
                                                <option value="Essay">Double spaced*</option>
                                                <option value="Essay">Double spaced*</option>
                                                <option value="Essay">Double spaced*</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Urgency</label>
                                        <select class="" name="">
                                                <option value="Essay">11 days</option>
                                                <option value="Essay">11 days</option>
                                                <option value="Essay">11 days</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Writer level</label>
                                        <select class="" name="">
                                                <option value="Essay">High School</option>
                                                <option value="Essay">High School</option>
                                                <option value="Essay">High School</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Number of pages</label>
                                        <select class="" name="">
                                                <option value="Essay">3 pages</option>
                                                <option value="Essay">3 pages</option>
                                                <option value="Essay">3 pages</option>
                                            </select>
                                    </div>
                                    <div class="input-field">
                                        <label for="assignment">Currency</label>
                                        <select class="" name="">
                                                <option value="Essay">USD</option>
                                                <option value="Essay">USD</option>
                                                <option value="Essay">USD</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="price__footer">
                                    <div class="price__total">
                                        total price: <span class="price__cost">15.99 <span class="price__currency">USD</span></span>
                                    </div>
                                    <a href="#" class="btn-order price__button">order now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="reason-title">
                    <h2>Some Reasons to Choose Us</h2>
                    <div class="reason-title__question">
                        <i class="fa fa-question"></i>
                    </div>
                </div>
                <ul class="square">
                    <li><span class="square__number">1</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">2</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">3</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">4</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">5</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">6</span> Lorem ipsum chto to tam i td</li>
                    <li><span class="square__number">7</span> Lorem ipsum chto to tam i td</li>
                </ul>
                <div class="row">
                    <div class="col-12">
                        //= sections/section-btn.html
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3">
                //= sections/socials.html
                //= sections/sidebar-right.html
            </div>
        </div>
    </div>
</main>
