.footer
    background-color: #f6f6f4
    &-line
        background: linear-gradient(to bottom, #ffd000 2%,#ffd100 8%,#ffd200 14%,#ffd300 20%,#ffd300 26%,#ffd500 32%,#ffd500 38%,#ffd500 44%,#ffd800 100%)
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffd800',GradientType=0 )
        height: 40px
        border: 3px double rgba(255,255,255,.5)
        border-left: none
        border-right: none
    .section
        padding-top: 35px
        padding-bottom: 35px
        // border-bottom: 1px solid #000
        position: relative
        &::after
            content: ''
            position: absolute
            height: 1px
            width: 85%
            bottom: 0
            background-color: $border-input
            left: 7%
            +from-to($large, $xlarge)
                width: 100%
                left: 0
        &__item
            padding-bottom: 5px
        &__link
            +font(1.2rem, 400, normal, $f3, $footer-section)
            &:hover
                text-decoration: underline
    &-bot
        padding-top: 20px
        padding-bottom: 20px
        // border-top: 1px solid red
        position: relative
        &::after
            content: ''
            position: absolute
            height: 1px
            width: 85%
            top: 0
            background-color: $white
            left: 7%
            +from-to($large, $xlarge)
                width: 100%
                left: 0
        &__logo
            display: inline-block
            margin-right: 10px
            +to($large)
                margin-bottom: 5px
                margin-right: 0
        &__image
            +sprite($s-logo)
        &__copyright
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            +font(1.2rem, 400, normal, $f3, $footer-bot)
            +to($large)
                justify-content: center
                flex-direction: column
                text-align: center

        &__info
            display: inline-block
            span
                display: block
                a
                    +font(1.2rem, 400, normal, $f3, $footer-bot)
                    &:hover
                        text-decoration: underline
            &--res
                margin-bottom: 3px
            &--cus
                color: #9a9b9b
        &__list
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: flex-end
            align-items: center
            height: 55px
            +to($large)
                justify-content: center
        &__item
            padding-right: 5px
            padding-left: 5px
            border-right: 1px solid #000
            &:hover
                text-decoration: underline
            &:last-child
                border-right: 0
                padding-right: 0
            &:first
                padding-left: 0
        &__link
            +font(1.4rem, 400, normal, $f3, $footer-bot)
            &--bold
                font-weight: 700
    .card
        background-color: $footer-card
        padding-top: 15px
        padding-bottom: 15px
        text-align: center
        &__list
        &__item
            margin-right: 20px
            &:last-child
                margin-right: 0
            &--visa
                +sprite($s-visa)
            &--mastercard
                +sprite($s-mastercard)
            &--american
                +sprite($s-americanexpress)
            &--discover
                +sprite($s-discover)
            &--jcb
                +sprite($s-jcd)
            &--diners
                +sprite($s-dinersclub)
            &--direct
                +sprite($s-debit)
            &--paypal
                +sprite($s-paypal)
    .socials
        display: -webkit-flex
        display: -ms-flex
        display: flex
        padding: 0
        justify-content: center
