.bg-header--top
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,224,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecece0',GradientType=0 )
.header
    &-line-top
        position: relative
        background-image: linear-gradient(to top, #ffffff 0%, #ffffff 1%, #e0e0e0 37%, #ffffff 100%)
        height: 5px
        box-shadow: inset 0 0 7px 1px rgba(255, 255, 190, 0.75)
        margin-bottom: 5px
        +to($medium)
            display: none
        &::after
            content: ''
            position: absolute
            right: 10px
            top: 0
            border-radius: 0 0 15px 15px
            background: linear-gradient(135deg, rgba(196,4,7,1) 0%, rgba(223,0,0,1) 50%), linear-gradient(45deg, rgba(223,0,0,1) 50%, rgba(196,4,7,1) 100%)
            border: 2px solid rgba(255,255,255,.4)
            border-top: none
            width: 290px
            height: 10px
            background-color: red
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            border-radius: 0 0 15px 0
            background: linear-gradient(135deg, rgba(196,4,7,1) 0%, rgba(223,0,0,1) 50%), linear-gradient(45deg, rgba(223,0,0,1) 50%, rgba(196,4,7,1) 100%)
            border: 2px solid rgba(255,255,255,.4)
            border-top: none
            border-left: none
            width: 215px
            height: 10px
            background-color: red
    &-top
        height: 100px
        align-items: center
        +from-to($xlarge, 1680px)
            height: 130px
        .logo
            &__img
                +to(850px)
                    width: 100%
                +to($medium)
                    width: auto
        .slogan
            +font(1.8rem, 700, normal, $f2, $header-slogan)
            text-transform: uppercase
            text-align: center
            text-shadow: 0 0 5px $white
            +to($xlarge)
                display: none
            span
                +font(2.4rem, 700, normal, $f2, $hs)
        .burger
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-end
            width: 40px
            float: right
            +from($xlarge)
                display: none
            &__line
                display: inline-block
                height: 6px
                width: 40px
                margin-bottom: 6px
                border: 1px solid $border-load
                background-color: #000
                &:last-child
                    margin-bottom: 0
        .toggle-menu
            display: none
            position: absolute
            right: 0
            top: 100px
            width: 320px
            z-index: 999
            background-color: $white
            padding-top: 25px
            padding-bottom: 90px
            border-right: 12px solid #eff3f5
            box-shadow: 0 0 10px rgba(000,000,000, .5)
            +to(321px)
                width: 100%
            &-wrapper
                +from($xlarge)
                    display: none
            &::after
                content: ''
                height: 100%
                width: 10px
                background-color: #b0c3cd
                position: absolute
                right: 0
                top: 0
            &__item
                padding-left: 25px
                background: linear-gradient(to bottom, rgba(237,242,244,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2f4', endColorstr='#ffffff',GradientType=0 )
                &:first-child
                    background: transparent
                    &::after
                        display: none
                &:before
                    content: ''
                    +sprite($s-circle-menu)
                    margin-right: 25px
                &::after
                    content: ''
                    position: absolute
                    left: 0
                    width: 100%
                    height: 1px
                    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(204,219,223,0.9) 20%,rgba(204,219,223,1) 50%,rgba(204,219,223,0.9) 80%,rgba(229,229,229,1) 100%)
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 )
            &__link
                +font(2rem, 400, normal, $f3, $toggle-menu)
                padding-top: 10px
                padding-bottom: 10px
                display: inline-block
                &:hover
                    color: $border-main-nav-hover
    &-line-bot
        height: 10px
        background-image: linear-gradient(to top, #ffffff 0%, #ffffff 1%, #e0e0e0 37%, #ffffff 100%)
        box-shadow: inset 0 0 7px 1px rgba(255, 255, 190, 0.75)
