.bg-registration
    background: linear-gradient(to bottom, #ffd000 2%,#ffd100 8%,#ffd200 14%,#ffd300 20%,#ffd300 26%,#ffd500 32%,#ffd500 38%,#ffd500 44%,#ffd800 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd000', endColorstr='#ffd800',GradientType=0 )
    position: relative
    &::after
        content: ''
        height: 53px
        width: 300px
        background-color: #ffd800
        position: absolute
        right: 0
        bottom: -53px
        border-bottom: 4px double rgba(255,255,255,.5)
    &::before
        content: ''
        +sprite($s-header-bot)
        position: absolute
        right: 300px
        bottom: -53px
    &::before, &::after
        +to($large)
            display: none
.orderInfo
    height: 90px
    align-items: center
    position: relative
    +to($large)
        height: auto
        padding-top: 30px
        padding-bottom: 30px
    &::before
        content: ''
        position: absolute
        left: 15%
        width: 65px
        height: 65px
        border-radius: 50%
        background-color: rgba(255,255,255,.2)
        box-shadow: 0 0 50px rgba(255,255,255,.7)
    &::after
        content: ''
        position: absolute
        left: 40%
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: rgba(255,255,255,.3)
        box-shadow: 0 0 50px rgba(255,255,255,1)
    +from-to($xlarge, 1680px)
        height: 110px
    &__order
        text-align: right
        +to($xlarge)
            position: absolute
            z-index: 2
            right: 0
            bottom: -30px
        +to($large)
            display: none
    .form
        text-align: right
        position: relative
        z-index: 1
        +to($xlarge)
            text-align: center
        +to($medium)
            display: none
        &__registration
            +font(1.2rem, 700, normal, $f1, $header-registration)
            text-decoration: underline
            text-transform: uppercase
            margin-right: 20px
        input
            margin-right: 20px
            height: 25px
            padding-left: 10px
            padding-right: 10px
            width: 140px
        &__log
            margin-right: 10px
        &__forgot
            +font(1.2rem, 400, normal, $f1, $header-registration)
            text-decoration: underline
    .head-chat
        justify-content: center
    .toll
        justify-content: center
        &::before
            +to($small)
                display: none
    .chat
        justify-content: center
    .main-nav
        position: absolute
        top: -25px
        nav
            // width: 100%
        &__list
            display: -webkit-flex
            max-width: 1150px
            margin: 0 auto
            display: -ms-flex
            display: flex
            list-style-type: none
            justify-content: center
            background-color: $white
            box-shadow: 0 2px 5px rgba(000,000,000,.3)
            border-radius: 10px
        &__item
            border-right: 1px dashed $border-main-nav
            box-sizing: border-box
            &:last-child
                border-right: none
        &__link
            position: relative
            padding-top: 9px
            padding-bottom: 11px
            padding-right: 15px
            padding-left: 15px
            display: inline-block
            box-sizing: border-box
            +font(1.4rem, 400, normal, $f3, $main-nav)
            border-top: 4px
            border-bottom: 2px
            border-top-style: solid
            border-bottom-style: solid
            border-color: transparent
            width: 100%
            &::before
                content: none
                position: absolute
                top: 0
                left: 50%
                display: block
                width: 0
                height: 0
                margin-left: -2.5px
                border-style: solid
                border-width: 4px 5px 0 5px
                border-color: transparent
            &:hover, &--active
                border-color: $border-main-nav-hover
                &::before
                    content: ''
                    border-color: #fb7200 transparent transparent transparent
    .mob-panel
        position: absolute
        right: 20px
        bottom: 60px
        z-index: 2
        +to($large)
            position: relative
            right: 0
            bottom: 0
        &__list
            text-align: center
            display: -webkit-flex
            display: -ms-flex
            display: flex
            flex-direction: column
            position: absolute
            right: 0
            +to($large)
                position: relative
                justify-content: center
                align-items: center
        &__link
            width: 220px
            text-align: center
            display: inline-block
            background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,245,191,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff5bf',GradientType=0 )
            height: 30px
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            padding-left: 15px
            +font(1.6rem)
            border-radius: 2px
            margin-bottom: 2px
            &:last-child
                margin-bottom: 0
            i
                width: 13px
            &--orders
                +sprite($s-order)
                margin-right: 5px
            &--profile
                +sprite($s-profile)
                margin-right: 5px
            &--log
                +sprite($s-logout)
                margin-right: 5px
    .info-pr
        display: -webkit-flex
        display: -ms-flex
        display: flex
        justify-content: space-between
        position: relative
        z-index: 1
        +font(1.4rem, 400, normal, $f1, $header-registration)
        +to($large)
            padding-bottom: 30px
        +to($medium)
            flex-direction: column
            text-align: center
            padding-top: 30px
        span
            font-weight: 700
    .order1
        order: 1
        +to($large)
            order: 4
    .order2
        order: 2
    .order3
        order: 3
    .order4
        order: 4
