.sidebar-left
    position: relative
    top: -46px
    +to($xlarge)
        display: none
    .support
        margin-bottom: 40px
        &__content
            position: relative
            background-image: url(../img/left-sidebar.png)
            background-size: cover
            background-position: right center
            border-radius: 0 10px 10px 0
            background-repeat: no-repeat
            width: 100%
            height: 100%
            padding-top: 14px
            padding-bottom: 23px
            border-left: 10px solid #b0c3cd
            height: 100%
            &::after
                content: ''
                height: 100%
                width: 12px
                background-color: rgba(255,255,255,.5)
                position: absolute
                left: 0
                top: 0
        &__info
            font-size: 2.4rem
            text-align: center
        span
            display: block
        &__doubt
            +font(2.4rem, 400, normal, $f3, $white)
        &__contact
            +font(2.4rem, 400, normal, $f3, $hs)
            text-transform: uppercase
            padding-bottom: 15px
        &__customer
            letter-spacing: -1.5px
            margin-bottom: 15px
            background-color: rgba(255,255,255,.5)
            display: inline-block
            text-align: center
        &__request
            width: 50%
            margin: 0 auto
            margin-bottom: 15px
            +to(1685px)
                width: 80%
            .btn-log
                width: 100%
        &__toll
            +font(1.8rem, 400, normal, $f3, $support-toll)
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 43%,rgba(255,255,255,0.3) 61%,rgba(255,255,255,0) 69%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 )
            &--text
                padding-left: 30px
                padding-top: 5px
                padding-bottom: 5px
        &__tel
            display: inline-block!important
            color: $hs
        &__chat
            justify-content: center
            position: absolute
            left: 30%
            bottom: -15px
    .finger
        text-align: center
        padding-bottom: 20px
        &__image
            +sprite($s-best)
        &__best
            +font(2.2rem, 700, normal, $f3, $hs)
            text-transform: uppercase
    .authenticity
        width: 100%
        border-radius: 50px
        +font(1.6rem, 400, normal, $f3)
        display: -webkit-flex
        display: -ms-flex
        display: flex
        align-items: center
        justify-content: center
        padding-top: 0
        outline: none
        span
            +font(2.4rem, 400, normal, $f3, $hs)
            margin-right: 5px
    .sidebar-list2
        border-left: 10px solid #b0c3cd
        border-radius: 0 10px 10px 0
        &::after
            content: ''
            height: 100%
            width: 12px
            background-color: #eff3f5
            position: absolute
            left: 0
            top: 0
        li
            &:last-child
                border-radius: 0 0 10px 0
    .features
        &__button
            margin: 20px auto
            display: block
            width: 50%
