.sidebar-right
    +to($large)
        display: none
        &__list2
            li
                padding-left: 35px
                &:last-child
                    border-radius: 0 0 0 10px

    .guarantee
        &__button
            width: 50%
            margin: 0 auto
            display: block
            margin-top: 20px
            margin-bottom: 20px
            border: 1px solid $border-load
            +from-to($xlarge, 1300px)
                width: 60%
    .discounts
        &__title
            text-align: center
            +font(1.6rem, 700, normal, $f3, $arrow)
            padding: 25px 15px
            +from-to($xlarge, 1680px)
                padding-bottom: 0
            +from-to($large, 1150px)
                padding-bottom: 0
            &--large
                font-size: 2.2rem
        .sidebar-circle
            li
                padding-left: 15px
                padding-right: 15px
                display: flex
                justify-content: space-around
                +from-to($xlarge, 1680px)
                    flex-direction: column
                    text-align: center
                +from-to($large, 1150px)
                    flex-direction: column
                    text-align: center
                &::before
                    display: none
        &__image
            +sprite($s-circle-dis)
            text-align: center
            // padding-top: 10px
            +font(4rem, 400, normal, $f3, $hs)
            text-shadow: 0 0 5px rgba(000,000,000,.5)
            display: -webkit-flex
            display: -ms-flex
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
        &__info
            +font(2rem, 400, normal, $f3, $toggle-menu)
            word-spacing: -1px
            &--discount
                opacity: .5
            &--number
                font-weight: 700
    .testimonial
        &__list
            padding-top: 0
            li
                border: none
                &::before
                    display: none
        &__name
            padding-bottom: 20px
            display: inline-block
            text-align: center
            &::after
                content: ''
                +sprite($s-comment)
                margin-left: 5px
        &__text
            margin: 0
            position: relative
            &:before
                content: ''
                position: absolute
                top: 0
                left: -32px
                display: block
                width: 0
                height: 0
                margin-left: -2.5px
                border-style: solid
                border-width: 10px 10px
                border-color: transparent transparent transparent #f0f5f8
