// variables
$fontawesome: 'FontAwesome'
$f1: Tahoma, Arial, sans-serif
$f2: Georgia, Arial, sans-serif
$f3: Arial, sans-serif
// $f3: 'Museo', Arial, sans-serif

// fontawesome
@font-face
    font-family: 'FontAwesome'
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0')
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0')format('woff2'),
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0')format('woff'),
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0')format('truetype'),
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg')
    font-weight: normal
    font-style: normal
