// sizes
=sizes($w, $h)
    width: $w
    height: $h
// transition
=transition($sec)
    transition: all $sec ease-in-out


$browser-context: 16
@function em($px, $context:$browser-context)
    @return ($px / $context) * 1em

// font
=font($font-size:1.4rem, $font-weight:400, $font-style:normal, $font-family:$f1, $color:$text-color)
    // font-size: em($font-size)
    font-family: $font-family
    font-size: $font-size
    color: $color
    font-weight: $font-weight
    font-style: $font-style

// sprites mixins
=sprite-width($sprite)
    width: nth($sprite, 5)

=sprite-height($sprite)
    height: nth($sprite, 6)

=sprite-position($sprite)
    $sprite-offset-x: nth($sprite, 3)
    $sprite-offset-y: nth($sprite, 4)
    background-position: $sprite-offset-x $sprite-offset-y

=sprite-image($sprite)
    $sprite-image: nth($sprite, 9)
    background-image: url($sprite-image)
    background-repeat: no-repeat

=sprite($sprite)
    display: inline-block
    +sprite-image($sprite)
    +sprite-position($sprite)
    +sprite-width($sprite)
    +sprite-height($sprite)

// media
$xxlarge: 1920px
$xlarge: 1200px
$large: 992px
$medium: 768px
$small: 576px
$xsmall: 320px

=from($min_width)
    @media screen and (min-width: $min_width)
        @content

=to($max_width)
    @media screen and (max-width: $max_width - 1px)
        @content

=from-to($min_width, $max_width)
    @media screen and (min-width: $min_width) and (max-width: $max_width)
        @content
