*
    box-sizing: border-box
a
    text-decoration: none
// global style
html
    font-size: 62.5%
    font-family: Tahoma, Arial, sans-serif
ul
    margin: 0
    padding: 0
    list-style-type: none
    +font(1.4rem, 400, normal, $f1, $text-color)
    // +from($xlarge)
    //     +font(1.4rem, 400, normal, $f1, $text-color)
    // +from-to($large, $xlarge)
    //     +font(1.6rem, 400, normal, $f1, $text-color)
    // +to($large)
    //     +font(1.8rem, 400, normal, $f1, $text-color)
ol
    margin: 0
    margin-left: 16px
    padding: 0
    +from($xlarge)
        +font(1.4rem, 400, normal, $f1, $text-color)
    +from-to($large, $xlarge)
        +font(1.6rem, 400, normal, $f1, $text-color)
    +to($large)
        +font(1.8rem, 400, normal, $f1, $text-color)

// typography
h1,h2,h3,h4,h5,h6
    margin: 0
    padding: 0

h1
    +from($xlarge)
        +font(2.5rem, 400, normal, $f2, $h1)
    +from-to($large, $xlarge)
        +font(2.6rem, 400, normal, $f2, $h1)
    +to($large)
        +font(2.8rem, 400, normal, $f2, $h1)
h2
    +from($xlarge)
        +font(2rem, 400, normal, $f1, $hs)
    +from-to($large, $xlarge)
        +font(2rem, 400, normal, $f1, $hs)
    +to($large)
        +font(2.2rem, 400, normal, $f1, $hs)
h3
    +from($xlarge)
        +font(1.6rem, 700, normal, $f1, $hs)
    +from-to($large, $xlarge)
        +font(1.8rem, 700, normal, $f1, $hs)
    +to($large)
        +font(2rem, 700, normal, $f1, $hs)
h4
    +from($xlarge)
        +font(1.4rem, 700, normal, $f1, $hs)
    +from-to($large, $xlarge)
        +font(1.6rem, 700, normal, $f1, $hs)
    +to($large)
        +font(1.8rem, 700, normal, $f1, $hs)
p
    // +from($xlarge)
    //     +font(1.4rem, 400, normal, $f1, $text-color)
    // +from-to($large, $xlarge)
    //     +font(1.6rem, 400, normal, $f1, $text-color)
    // +to($large)
    //     +font(1.8rem, 400, normal, $f1, $text-color)
    +font(1.4rem, 400, normal, $f1, $text-color)
    margin-top: 0
    line-height: 1.4

.mb-20
    margin-bottom: 20px

.main-title
    background: linear-gradient(135deg, rgba(187,187,187,.8) 0%,rgba(245,246,246,1) 3%,rgba(245,246,246,1) 96%,rgba(187,187,187,.8) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#bbbbbb',GradientType=1 )
    position: relative
    top: -25px
    display: block
    box-shadow: -1px 1px  3px rgba(000,000,000,.3)
    padding: 10px 15px
    margin-bottom: 20px
    +to($xlarge)
        top: 0
    +to($medium)
        background: transparent
        box-shadow: none
        padding-left: 0
        &::before
            display: none
    &::before
        content: ''
        +sprite($s-tick)
        margin-right: 10px
        vertical-align: middle

.section-padding
    padding-bottom: 60px
    +to($xlarge)
        padding-top: 25px
.section-border--inside
    border: 1px solid $border-contact
.section-border--outside
    border: 3px solid $border-load
