<footer class="footer">
    <div class="footer-line"></div>
    <div class="container-fluid hidden-md-down">
        <div class="section">
            <div class="row">
                <div class="offset-xl-1 col-xl-2 col-lg-3">
                    <ul class="section__list">
                        <li class="section__item"><a href="#" class="section__link">Dissertation abstract</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation introduction</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation literature review</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation methodology</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation results</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <ul class="section__list">
                        <li class="section__item"><a href="#" class="section__link">Dissertation abstract</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation introduction</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation literature review</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation methodology</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation results</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <ul class="section__list">
                        <li class="section__item"><a href="#" class="section__link">Dissertation abstract</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation introduction</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation literature review</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation methodology</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation results</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-3">
                    <ul class="section__list">
                        <li class="section__item"><a href="#" class="section__link">Dissertation abstract</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation introduction</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation literature review</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation methodology</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation results</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 hidden-lg-down">
                    <ul class="section__list">
                        <li class="section__item"><a href="#" class="section__link">Dissertation abstract</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation introduction</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation literature review</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation methodology</a></li>
                        <li class="section__item"><a href="#" class="section__link">Dissertation results</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="footer-bot">
            <div class="row">
                <div class="offset-xl-1 col-xl-4 col-lg-5 col-md-12">
                    <div class="footer-bot__copyright">
                        <a href="#" class="footer-bot__logo"><i class="footer-bot__image"></i></a>
                        <div class="footer-bot__info">
                            <span class="footer-bot__info--res">© 2010-2018. <a href="#">YourCompanyName.com</a>. All rights reserved</span>
                            <span class="footer-bot__info--cus">Custom yourcompanyname</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-12 hidden-xs-down">
                    <ul class="footer-bot__list">
                        <li class="footer-bot__item"><a href="#" class="footer-bot__link">Live chat</a></li>
                        <li class="footer-bot__item"><a href="#" class="footer-bot__link">Privacy policy</a></li>
                        <li class="footer-bot__item"><a href="#" class="footer-bot__link footer-bot__link--bold">Toll free: 1(044)225-1512</a></li>
                        <li class="footer-bot__item"><a href="#" class="footer-bot__link footer-bot__link--bold">Call us: 1(044)255-1513</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid card">
        <div class="row">
            <div class="col-12">
                <ul class="card__list hidden-md-down">
                    <li class="card__item card__item--visa"></li>
                    <li class="card__item card__item--mastercard"></li>
                    <li class="card__item card__item--american"></li>
                    <li class="card__item card__item--discover"></li>
                    <li class="card__item card__item--jcb"></li>
                    <li class="card__item card__item--diners"></li>
                    <li class="card__item card__item--direct"></li>
                    <li class="card__item card__item--paypal"></li>
                </ul>
                <ul class="socials hidden-lg-up">
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-twitter"></i></a></li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-facebook"></i></a></li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-pinterest-p"></i></a></li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-instagram"></i></a></li>
                    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
