<header class="header">
    <div class="header-line-top"></div>
    <div class="container-fluid bg-header--top">
        <div class="row header-top">
            <div class="col-xl-2 col-md-3 col-6 logo">
                <a href="#" class="logo__link"><img src="img/logo.png" alt="logo" class="logo__img"></a>
            </div>
            <div class="col-xl-3 slogan">
                <span>Exclusive</span> YOUR COMPANY NAME
            </div>
            <div class="col-xl-3 col-md-3 hidden-sm-down chat">
                <div class="chat__info">
                    <span class="chat__alltime">24/7</span>
                    <span class="chat__here">click here</span>
                </div>
                <div class="chat__button">
                    <a href="#" class="chat__btn btn-chat">live chat</a>
                    <div class="chat__border chat__border--one"></div>
                    <div class="chat__border chat__border--two"></div>
                </div>
            </div>
            <div class="col-xl-4 col-md-5 hidden-sm-down toll">
                <span class="toll__free">toll free</span>
                <div class="toll__phones">
                    <a href="#" class="toll__tel">1(044)225-1513</a>
                    <a href="#" class="toll__tel">1(044)225-1513</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-1">
                <div class="burger">
                    <span class="burger__line burger__line--top"></span>
                    <span class="burger__line burger__line--mid"></span>
                    <span class="burger__line burger__line--bot"></span>
                </div>
            </div>
            <nav class="toggle-menu-wrapper">
                <ul class="toggle-menu">
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Home</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">About us</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Why us</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Guarantees</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">FAQ</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Beware</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Order now</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Prices</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Testimonials</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">How it works</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Discounts</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Contact us</a></li>
                    <li class="toggle-menu__item"><a href="#" class="toggle-menu__link">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-line-bot"></div>
</header>
