<div class="container-fluid bg-registration">
    <div class="row orderInfo">
        <div class="col-lg-12 main-nav hidden-lg-down">
            <nav>
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="index.html" class="main-nav__link">Home</a></li>
                    <li class="main-nav__item"><a href="404.html" class="main-nav__link">About us</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link main-nav__link--active">Why us</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Guarantees</a></li>
                    <li class="main-nav__item"><a href="faq.html" class="main-nav__link">FAQ</a></li>
                    <li class="main-nav__item"><a href="beware.html" class="main-nav__link">Beware</a></li>
                    <li class="main-nav__item"><a href="order.html" class="main-nav__link">Order now</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Prices</a></li>
                    <li class="main-nav__item"><a href="testimonials.html" class="main-nav__link">Testimonials</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">How it works</a></li>
                    <li class="main-nav__item"><a href="#" class="main-nav__link">Discounts</a></li>
                    <li class="main-nav__item"><a href="contact.html" class="main-nav__link">Contact us</a></li>
                    <li class="main-nav__item"><a href="blog.html" class="main-nav__link">Blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="offset-xl-2 col-xl-7 col-lg-9 col-md-12 info-pr order1">
            <div class="info-pr__item">
                Welcome <span class="info-pr__item--name">Max Malinovskiy</span>
            </div>
            <div class="info-pr__item">
                Account type <span class="info-pr__item--type">standart</span>
            </div>
            <div class="info-pr__item">
                Discount Code <span class="info-pr__item--code">name@company@gmail.ru</span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 hidden-lg-down orderInfo__order order2">
            <a href="#" class="btn-order">order now</a>
        </div>
        <div class="col-6 hidden-md-up chat order2">
            <div class="chat__button">
                <a href="#" class="chat__btn btn-chat">live chat</a>
                <div class="chat__border chat__border--one"></div>
                <div class="chat__border chat__border--two"></div>
            </div>
        </div>
        <div class="col-6 hidden-md-up toll order3">
            <div class="toll__phones">
                <a href="#" class="toll__tel">1(044)225-1513</a>
                <a href="#" class="toll__tel">1(044)225-1513</a>
            </div>
        </div>
        <div class="col-12 hidden-xl-up mob-panel order4">
            <div class="mob-panel__list">
                <a href="#" class="mob-panel__link"><i class="mob-panel__link--orders"></i>My orders</a>
                <a href="#" class="mob-panel__link"><i class="mob-panel__link--profile"></i>Profile</a>
                <a href="#" class="mob-panel__link"><i class="mob-panel__link--log"></i>Log out</a>
            </div>
        </div>
    </div>
</div>
