<aside class="sidebar-right">
    <div class="guarantee mb-20">
        <header class="bg-header--right1">We guarantee</header>
        <div class="body-border2">
            <ul class="guarantee-list sidebar-arrow">
                <li>100% Satisfaction</li>
                <li>100% Money Back Guarantee</li>
                <li>Free Revisions</li>
                <li>Delivery on deadline</li>
                <li>Strict adherence to any citation</li>
                <li>Specialized journals to ensure in</li>
                <li>Graduate writers in your special</li>
                <li>Up-to-date sources</li>
                <li>Professionalism in conducting deep</li>
                <li>Never resold to any customer</li>
                <li>Never redistributed or posted</li>
            </ul>
            <a href="#" class="btn-sidebar">Read more <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <div class="discounts mb-20">
        <header class="bg-header--right1">Discounts</header>
        <div class="body-border2">
            <div class="discounts__title">We provide special discounts <br>
                <span class="discounts__title--large">for returning clients:</span>
            </div>
            <ul class="discounts-list sidebar-circle">
                <li>
                    <div class="discounts__image">
                        5%
                    </div>
                    <div class="discounts__info">
                        <span class="discounts__info--discount">discount</span><br><span class="discounts__info--for">for more than</span><br><span class="discounts__info--number">20</span> pages
                    </div>
                </li>
                <li>
                    <div class="discounts__image">
                        10%
                    </div>
                    <div class="discounts__info">
                        <span class="discounts__info--discount">discount</span><br><span class="discounts__info--for">for more than</span><br><span class="discounts__info--number">50</span> pages
                    </div>
                </li>
                <li>
                    <div class="discounts__image">
                        15%
                    </div>
                    <div class="discounts__info">
                        <span class="discounts__info--discount">discount</span><br><span class="discounts__info--for">for more than</span><br><span class="discounts__info--number">100</span> pages
                    </div>
                </li>
            </ul>
            <a href="#" class="btn-sidebar">Read more <i class="fa fa-angle-double-right"></i></a>
        </div>

    </div>
    <div class="faq mb-20">
        <header class="bg-header--right1">FAQ</header>
        <div class="body-border2">
            <ul class="sidebar-triangle">
                <li><a href="#">What type of service does CompanyName. com provide?</a></li>
                <li><a href="#">How can CompanyName. com help me?</a></li>
                <li><a href="#">How does CompanyName. com protect my privacy?</a></li>
                <li><a href="#">What format does CompanyName. com normally use for the papers they write?</a></li>
                <li><a href="#">Can CompanyName. com write a paper on any topic?</a></li>
            </ul>
            <a href="#" class="btn-sidebar">Read more <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <div class="testimonial">
        <header class="bg-header--right1">Testimonials</header>
        <div class="body-border2">
            <ul class="testimonial__list sidebar-triangle">
                <li><span class="testimonial__name"><a href="#">Myles Redding, Omaha, NE</a></span>
                    <p class="testimonial__text">My Zoology thesis had a short deadline shorter than I thought it had. I had miswritten the date on my calendar. When I realized this, I turned to ...</p>
                </li>
                <a href="#" class="btn-sidebar">Read more <i class="fa fa-angle-double-right"></i></a>
            </ul>
        </div>
    </div>

</aside>
