<aside class="sidebar-left">
    <nav class="sidebar-menu mb-20">
        <header class="bg-header--left1">Menu</header>
        <div class="body-border">
            <ul class="sidebar-circle">
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Why us</a></li>
                <li><a href="#">Guarantees</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Beware</a></li>
                <li><a href="#">Order now</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Discounts</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </nav>
    <div class="dissertation mb-20">
        <header class="bg-header--left2">Dessertation</header>
        <div class="body-border">
            <ul class="sidebar-circle">
                <li><a href="#">Dissertation</a></li>
                <li><a href="#">Thesis</a></li>
                <li><a href="#">Thesis proposal</a></li>
                <li><a href="#">Editing</a></li>
                <li><a href="#">Proofreading</a></li>
                <li><a href="#">Formatting</a></li>
            </ul>
        </div>
    </div>
    <div class="features mb-20">
        <header class="bg-header--left1">Menu</header>
        <div class="body-border">
            <ul class="features-list sidebar-arrow">
                <li>The largest source data base</li>
                <li>Up-to-date sources</li>
                <li>Our writers have access to most university libraries</li>
                <li>Direct communication with a writer</li>
                <li><span class="mark">Customer support 24/7</span></li>
                <li>A wide range of services</li>
                <li>Only certified writers</li>
                <li>Only custom-written papers</li>
                <li>100% privacy guaranteed</li>
                <li><span class="mark">Free</span> plagiarism report</li>
                <li><span class="mark">Free</span> amendments</li>
                <li><span class="mark">Free</span> outline</li>
                <li><span class="mark">Free</span> amendments</li>
                <li><span class="mark">Free</span> title page</li>
                <li><span class="mark">Free</span> bibliography</li>
                <li><span class="mark">Free</span> formatting</li>
            </ul>
            <a href="#" class="btn-sidebar">Read more <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <div class="support mb-20">
        <header class="bg-header--left1">Customer support</header>
        <div class="support__content">
            <div class="support__info">
                <span class="support__doubt">Got any doubts?</span>
                <span class="support__contact">Contact our</span>
                <span class="support__customer">Customer Center <br>if you have any <br>questions</span>
            </div>
            <div class="support__request">
                <a href="#" class="btn-log support__button">Inauiry request</a>
            </div>
            <div class="support__toll">
                <p class="support__toll--text">Toll free: <span class="support__tel">1(044)255-1512</span></p>
            </div>
            <div class="chat__button support__chat">
                <a href="#" class="chat__btn btn-chat">live chat</a>
                <div class="chat__border chat__border--one"></div>
                <div class="chat__border chat__border--two"></div>
            </div>
        </div>
    </div>
    <div class="finger">
        <div class="finger__image"></div>
        <div class="finger__best">best price</div>
    </div>
    <a href="#" class="btn-send authenticity"><span>100%</span> Authenticity</a>
</aside>
