<ul class="socials">
    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-twitter"></i></a></li>
    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-facebook"></i></a></li>
    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-pinterest-p"></i></a></li>
    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-instagram"></i></a></li>
    <li class="socials__item"><a href="#" class="socials__link"><i class="fa fa-google-plus"></i></a></li>
</ul>
