//= template/base/head.html
<header class="l-header">
    <div class="container-fluid bg-header--top">
        <div class="row l-header-top">
            <div class="col-xl-2 offset-xl-1">
                <a href="index.html"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="col-xl-8">
                <nav>
                    <ul class="nav">
                        <li class="nav__item"><a href="testimonials.html" class="nav__link">Testimonials</a></li>
                        <li class="nav__item"><a href="prices.html" class="nav__link">Prices</a></li>
                        <li class="nav__item"><a href="order.html" class="nav__link nav__link--order">Order Now</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid l-header__line"></div>
    <div class="l-header-mid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 offset-xl-1">
                    <div class="l-header-mid__info">
                        Lorem ipsum<br>dolor sit amet<br>consectetur
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="calc">
                        <div class="calc__title">
                            Calculate your price
                        </div>
                        <div class="input-field">
                            <label for="">Type of assignment:</label>
                            <select class="" name="">
                                <option value="Essay">Essay</option>
                                <option value="Essay">Essay</option>
                                <option value="Essay">Essay</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="assignment">Spacing</label>
                            <select class="" name="">
                                <option value="Essay">Double spaced*</option>
                                <option value="Essay">Double spaced*</option>
                                <option value="Essay">Double spaced*</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="assignment">Urgency</label>
                            <select class="" name="">
                                <option value="Essay">11 days</option>
                                <option value="Essay">11 days</option>
                                <option value="Essay">11 days</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="assignment">Writer level</label>
                            <select class="" name="">
                                <option value="Essay">High School</option>
                                <option value="Essay">High School</option>
                                <option value="Essay">High School</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="assignment">Number of pages</label>
                            <select class="" name="">
                                <option value="Essay">3 pages</option>
                                <option value="Essay">3 pages</option>
                                <option value="Essay">3 pages</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label for="assignment">Currency</label>
                            <select class="" name="">
                                <option value="Essay">USD</option>
                                <option value="Essay">USD</option>
                                <option value="Essay">USD</option>
                            </select>
                        </div>
                        <div class="calc__total">
                            total price: <div class="calc__price">18 <span>USD</span></div>
                        </div>
                        <div class="calc__order">
                            <a href="#" class="btn-l-order">order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-header-bot">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 offset-xl-1">
                    <div class="l-header-bot__title">
                        Lorem ipsum dolor sit amet consectetur
                    </div>
                    <div class="l-header-bot__text">
                        Sed vitae risus ut erat commodo euismod quis non odio. Aliquam tincidunt consequat ipsum, vitae finibus sem aliquet et. Phasellus vehicula, eros non consequat aliquet, mauris neque maximus nisi, et placerat lorem lorem tempor lectus. Aliquam congue suscipit mi, ac rutrum metus faucibus ac. Mauris laoreet at urna vitae ultrices. In sed imperdiet felis. Quisque egestas pellentesque enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="landing">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1 col-xl-10">
                <div class="landing__title">Lorem Ipsum Dolor Sit Amet</div>
                <div class="landing__text">Sed vitae risus ut erat commodo euismod quis non odio. Aliquam tincidunt consequat ipsum, vitae finibus sem aliquet et. Phasellus vehicula, eros non consequat aliquet, mauris neque maximus nisi, et placerat lorem lorem tempor lectus. Aliquam congue suscipit mi, ac rutrum metus faucibus ac. Mauris laoreet at urna vitae ultrices. In sed imperdiet felis. Quisque egestas pellentesque enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</div>
                <div class="landing__read">
                    <a href="#" class="btn-l-read">read more</a>
                </div>
                <div class="l-slider">
                    <div class="l-slider__title">
                        What our customers say
                    </div>
                    <div class="l-slider__wrapper">
                        <div class="l-slider__item">
                            <img src="img/user.png" alt="" class="l-slider__img">
                            <div class="l-slider__content">
                                <i class="l-slider__quotation"></i>
                                <div class="l-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero leo, fermentum at sem tincidunt, sagittis laoreet nisl. Phasellus at sapien porta, venenatis turpis a, ultricies turpis. Fusce semper augue sed leo laoreet vehicula. </div>
                                <div class="l-slider__address">
                                    V. Jeffrey Wayland, Oakland, CA
                                </div>
                            </div>
                        </div>
                        <div class="l-slider__item">
                            <img src="img/user.png" alt="" class="l-slider__img">
                            <div class="l-slider__content">
                                <i class="l-slider__quotation"></i>
                                <div class="l-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero leo, fermentum at sem tincidunt, sagittis laoreet nisl. Phasellus at sapien porta, venenatis turpis a, ultricies turpis. Fusce semper augue sed leo laoreet vehicula. </div>
                                <div class="l-slider__address">
                                    V. Jeffrey Wayland, Oakland, CA
                                </div>
                            </div>
                        </div>
                        <div class="l-slider__item">
                            <img src="img/user.png" alt="" class="l-slider__img">
                            <div class="l-slider__content">
                                <i class="l-slider__quotation"></i>
                                <div class="l-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero leo, fermentum at sem tincidunt, sagittis laoreet nisl. Phasellus at sapien porta, venenatis turpis a, ultricies turpis. Fusce semper augue sed leo laoreet vehicula. </div>
                                <div class="l-slider__address">
                                    V. Jeffrey Wayland, Oakland, CA
                                </div>
                            </div>
                        </div>
                        <div class="l-slider__item">
                            <img src="img/user.png" alt="" class="l-slider__img">
                            <div class="l-slider__content">
                                <i class="l-slider__quotation"></i>
                                <div class="l-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero leo, fermentum at sem tincidunt, sagittis laoreet nisl. Phasellus at sapien porta, venenatis turpis a, ultricies turpis. Fusce semper augue sed leo laoreet vehicula. </div>
                                <div class="l-slider__address">
                                    V. Jeffrey Wayland, Oakland, CA
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid landing__order">
        <a href="#" class="btn-l-order">order now</a>
    </div>
</main>
<footer class="l-footer">
    <div class="l-footer__line"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="row l-footer__wrapper">
                    <div class="col-xl-6">
                        <div class="l-footer__copyright">
                            <a href="#" class="l-footer__logo"><i class="l-footer__image"></i></a>
                            <div class="l-footer__info">
                                <span class="l-footer__info--res">© 2010-2018. <a href="#">YourCompanyName.com</a>. All rights reserved</span>
                                <span class="l-footer__info--cus">Custom yourcompanyname</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        //= template/sections/socials.html
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
//= template/base/footer.html
